<div class="content">
    <div class="pt-1" fxLayout="column" fxLayoutAlign="stretch">
        <div class="section-header p-2" fxFlex="100" fxLayout="row" fxLayout.xs="column">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="80" fxFlex.xs="100">
                <p>Registro de tipo de cambio</p>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="column" fxLayoutAlign="stretch">
        <div class="p-2">
            <form [formGroup]="formTipoCambio" autocomplete="off">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>Fecha</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="formFecha" [(ngModel)]="tipoCambio.fecha">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Tipo de cambio</mat-label>
                            <input matInput formControlName="formTipo" [(ngModel)]="tipoCambio.tipoCambio">
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>Moneda</mat-label>
                            <mat-select formControlName="formMoneda" [(ngModel)]="tipoCambio.idMoneda">
                                <mat-option *ngFor="let m of monedas" [value]="m.id">
                                    {{m.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Fuente</mat-label>
                            <mat-select formControlName="formFuente" [(ngModel)]="tipoCambio.idTipoFuente">
                                <mat-option *ngFor="let f of fuentes" [value]="f.id">
                                    {{f.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <div style="text-align: center;">
                <button (click)="regresar()" class="btn-listado" style="background-color: gray;">Regresar</button>
                <button *ngIf="!isSistemaOrigen" (click)="nuevo()" class="btn-listado" style="background-color: #3c88d4;">Nuevo</button>
                <button *ngIf="!isSistemaOrigen" (click)="guardar()" class="btn-listado" style="background-color: green;">Guardar</button>
            </div>
        </div>
    </div>
</div>
