<div style="text-align: right; width: 100%;">
    <mat-icon style="cursor: pointer;" (click)="cerrarModal()">close</mat-icon>
</div>
<div style="height: 80vh;">
    <div id="modal-leaflet-map" style="height: 100%;"></div>
</div>
