<div class="content">
    <div fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-dark-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active pointer p-2 mr-2">Contratos</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
                <div class="border-solid border-transparent">
                    <button class="btn-listado acciones h-45">Actualizar</button>
                </div>
                <div class="border-solid border-transparent">
                    <button class="btn-listado acciones h-45">Imprimir</button>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div style="background-color: #0597d6;">
            <div style="display: flex; height: 100px; width: 90%; margin: auto; line-height: 7em;">
                <div style="width: 25%; color: white; font-size: 16pt; text-align: center;">
                    Total de rutas <b>10</b>
                </div>
                <div style="width: 25%; color: white; font-size: 16pt; text-align: center;">
                    Utilidad prmedio esperada <b>15%</b>
                </div>
                <div style="width: 25%; color: white; font-size: 16pt; text-align: center;">
                    Tarifa promedio <b>$0000.00</b>
                </div>
                <div style="width: 25%; color: white; font-size: 16pt; text-align: center;">
                    Utilidad promedio <b>$0000.00</b>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="p-2">
            <div fxLayout="row" fxLayoutAlign="">
                <div fxLayout="column" fxFlex="50%">
                    <mat-form-field class="mr-3">
                        <mat-label>Cliente</mat-label>
                        <mat-select>
                            <mat-option>
                                Cliente 1
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="mr-3">
                        <mat-label>Nombre</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field class="mr-3">
                        <mat-label>Cotizaciones</mat-label>
                        <mat-select>
                            <mat-option>
                                2020-08-05-34-01
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div>
                        <mat-form-field class="mr-3" fxFlex="50%">
                            <mat-label>Fecha Inicio</mat-label>
                            <input matInput [matDatepicker]="inicial">
                            <mat-datepicker-toggle matSuffix [for]="inicial"></mat-datepicker-toggle>
                            <mat-datepicker #inicial></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="mr-3" fxFlex="50%">
                            <mat-label>Fecha Fin</mat-label>
                            <input matInput [matDatepicker]="final">
                            <mat-datepicker-toggle matSuffix [for]="final"></mat-datepicker-toggle>
                            <mat-datepicker #final></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="column" fxFlex="50%">
                    <mat-form-field class="mr-3">
                        <mat-label>Área</mat-label>
                        <input matInput disabled>
                    </mat-form-field>

                    <mat-form-field class="mr-3">
                        <mat-label>Folio</mat-label>
                        <input matInput disabled>
                    </mat-form-field>

                    <mat-form-field class="mr-3">
                        <mat-label>Empresa</mat-label>
                        <mat-select>
                            <mat-option>
                                Autoquimicos SA
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="mr-3">
                        <mat-label>Agente</mat-label>
                        <mat-select>
                            <mat-option>
                                Jose Chavez
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div style="text-align: center;">
                <button class="btn-listado" style="background-color: green;">Guardar</button>
            </div>

            <div class="table-container mt-3">
                <mat-table #table [dataSource]="dataSource" matSort class="mat-table mat-elevation-z8">

                    <ng-container matColumnDef="acciones">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <span>Acciones</span>
                        </mat-header-cell>

                        <mat-cell *matCellDef="let cuenta"></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="cotizacion">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <span>Cotizacion</span>
                        </mat-header-cell>

                        <mat-cell *matCellDef="let cuenta"></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="fecha">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <span>Fecha</span>
                        </mat-header-cell>

                        <mat-cell *matCellDef="let cuenta"></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ruta">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <span>Ruta</span>
                        </mat-header-cell>

                        <mat-cell *matCellDef="let cuenta"></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="estatus">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <span>Estatus</span>
                        </mat-header-cell>

                        <mat-cell *matCellDef="let cuenta"></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="flete_cotizado">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <span>Flete cotizado</span>
                        </mat-header-cell>

                        <mat-cell *matCellDef="let cuenta"></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="costo_variable">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <span>Costo variable cotizado</span>
                        </mat-header-cell>

                        <mat-cell *matCellDef="let cuenta"></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="costo_fijo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <span>Costo fijo cotizado</span>
                        </mat-header-cell>

                        <mat-cell *matCellDef="let cuenta"></mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
            <mat-paginator #paginator [pageSizeOptions]="[5, 25, 50, 75]" showFirstLastButtons [pageSize]="50"></mat-paginator>
        </div>
    </div>
</div>
