<div class="content">
    <mat-tab-group mat-align-tabs="start" mat-stretch-tabs>
        <mat-tab label="Cotizaciones">
            <div class="p-2">
                <h3 style="color: gray">Filtros</h3>
                <div fxLayout="row" fxLayoutAlign="" class="mt-3 mb-3">
                    <div fxLayout="column" fxFlex="23%">
                        <mat-form-field class="mr-3">
                            <mat-label>Responsable</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="23%">
                        <mat-form-field class="mr-3">
                            <mat-label>Cliente</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="23%">
                        <mat-form-field class="mr-3">
                            <mat-label>Ruta</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="23%">
                        <mat-form-field class="mr-3">
                            <mat-label>Estatus</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="8%">
                        <button class="btn-listado" style="background-color: green; height: 40px; width: 100%;"
                                (click)="btnCotizacion()">+ Cotización</button>
                    </div>
                </div>
                <mat-divider></mat-divider>

                <div class="table-container">
                    <mat-table #table [dataSource]="dsCotizacion" matSort class="mat-table mat-elevation-z8">
                        <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Acciones</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="cotizacion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Cotización</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="cliente">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Cliente</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estimado">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Estimado</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="tarifa">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Tarifa calculada</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="ruta">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Ruta</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estatus">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Estatus</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="agente">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Agente</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="ultimoContacto">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Último contacto</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c"></mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="dcCotizacion"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: dcCotizacion;"></mat-row>
                    </mat-table>
                    <mat-paginator #paginator [pageSizeOptions]="[5, 25, 50, 75]" showFirstLastButtons [pageSize]="50"></mat-paginator>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Servicio">
            <div class="p-2">
                <h3 style="color: gray">Filtros</h3>
                <div fxLayout="row" fxLayoutAlign="" class="mt-3 mb-3">
                    <div fxLayout="column" fxFlex="23%">
                        <mat-form-field class="mr-3">
                            <mat-label>Responsable</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="23%">
                        <mat-form-field class="mr-3">
                            <mat-label>Cliente</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="23%">
                        <mat-form-field class="mr-3">
                            <mat-label>Causa</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="23%">
                        <mat-form-field class="mr-3">
                            <mat-label>Estatus</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="8%">
                        <button class="btn-listado" style="background-color: green; height: 40px; width: 100%;"
                                (click)="nuevoReporte()">+ Reporte</button>
                    </div>
                </div>
                <mat-divider></mat-divider>

                <div class="table-container">
                    <mat-table #table [dataSource]="dsServicio" matSort class="mat-table mat-elevation-z8">
                        <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Acciones</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let s"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="reporte">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Reporte</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let s"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="cliente">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Cliente</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let s"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="causa">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Causa</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let s"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="quienReporta">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Quien reporta</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let s"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estatus">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Estatus</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let s"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="responsable">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Responsable</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let s"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="ultimoContacto">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Último contacto</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let s"></mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="dcServicio"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: dcServicio;"></mat-row>
                    </mat-table>
                    <mat-paginator #paginator [pageSizeOptions]="[5, 25, 50, 75]" showFirstLastButtons [pageSize]="50"></mat-paginator>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Tareas">
            <div class="p-2">
                <h3 style="color: gray">Filtros</h3>
                <div fxLayout="row" fxLayoutAlign="" class="mt-3 mb-3">
                    <div fxLayout="column" fxFlex="23%">
                        <mat-form-field class="mr-3">
                            <mat-label>Responsable</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="23%">
                        <mat-form-field class="mr-3">
                            <mat-label>Cliente</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="23%">
                        <mat-form-field class="mr-3">
                            <mat-label>Ruta</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="23%">
                        <mat-form-field class="mr-3">
                            <mat-label>Estatus</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="8%">
                        <button class="btn-listado" style="background-color: green; height: 40px; width: 100%;"
                                (click)="nuevaTarea()">+ Tarea</button>
                    </div>
                </div>
                <mat-divider></mat-divider>

                <div class="table-container">
                    <mat-table #table [dataSource]="dsTareas" matSort class="mat-table mat-elevation-z8">
                        <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Acciones</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let t"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="titulo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Titulo</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let t"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="descripcion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Descripción</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let t"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="vence">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Vence</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let t"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="etiqueta">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Etiqueta</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let t"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="seguimiento">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Seguimiento</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let t"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estatus">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Estatus</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let t"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="agente">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Agente</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let t"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="checklist">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Checklist</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let t"></mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="dcTareas"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: dcTareas;"></mat-row>
                    </mat-table>
                    <mat-paginator #paginator [pageSizeOptions]="[5, 25, 50, 75]" showFirstLastButtons [pageSize]="50"></mat-paginator>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Contactos">
            <div class="p-2">
                <h3 style="color: gray">Filtros</h3>
                <div fxLayout="row" fxLayoutAlign="" class="mt-3 mb-3">
                    <div fxLayout="column" fxFlex="23%">
                        <mat-form-field class="mr-3">
                            <mat-label>Estado(todos)</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="23%">
                        <mat-form-field class="mr-3">
                            <mat-label>Empresa</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="23%">
                        <mat-form-field class="mr-3">
                            <mat-label>Contacto</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="23%">
                        <mat-form-field class="mr-3">
                            <mat-label>Estatus</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="8%">
                        <button class="btn-listado" style="background-color: green; height: 40px; width: 100%;">+ Contacto</button>
                    </div>
                </div>
                <mat-divider></mat-divider>

                <div class="table-container">
                    <mat-table #table [dataSource]="dsContactos" matSort class="mat-table mat-elevation-z8">
                        <ng-container matColumnDef="empresa">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Empresa</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="contacto">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Contacto</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="correo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Correo electrónico</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="departamento">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Departamento</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="telefono">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Telefóno</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="ext">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Ext.</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estado">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>estado</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="agente">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Agente</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estatus">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Estatus</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c"></mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="dcContactos"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: dcContactos;"></mat-row>
                    </mat-table>
                    <mat-paginator #paginator [pageSizeOptions]="[5, 25, 50, 75]" showFirstLastButtons [pageSize]="50"></mat-paginator>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
