<div>
    <h3 style="display: inline">Reporte</h3>
    <mat-icon style="float: right; cursor: pointer;" (click)="cerrarModal()">close</mat-icon>
    <div class="p-2">
        <div fxLayout="row" fxLayoutAlign="" class="mt-3">
            <div fxLayout="column" fxFlex="50%">
                <mat-form-field class="mr-3">
                    <mat-label>Cliente</mat-label>
                    <mat-select>
                        <mat-option>
                            Cliente 1
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="mr-3">
                    <mat-label>Nombre de quien reporta</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field class="mr-3">
                    <mat-label>Empleado implicado</mat-label>
                    <mat-select>
                        <mat-option>
                            Empleado 1
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="mr-3">
                    <mat-label>Responsable del área</mat-label>
                    <mat-select>
                        <mat-option>
                            Responsable 1
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="column" fxFlex="50%">
                <mat-form-field class="mr-3" fxFlex="50%">
                    <mat-label>Fecha</mat-label>
                    <input matInput [matDatepicker]="fecha">
                    <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
                    <mat-datepicker #fecha></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="mr-3">
                    <mat-label>Causa</mat-label>
                    <mat-select>
                        <mat-option>
                            Causa 1
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="mr-3">
                    <mat-label>Departamento</mat-label>
                    <mat-select>
                        <mat-option>
                            Departamento 1
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="mr-3">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="">
            <div fxLayout="column" fxFlex="100%">
                <mat-form-field class="mr-3">
                    <mat-label>Descripción del reporte</mat-label>
                    <textarea matInput rows="5" maxlength="250"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div style="text-align: center;">
            <button class="btn-listado" style="background-color: green; height: 40px;">Guardar
            </button>
        </div>
    </div>
</div>
