﻿<div>
    <div class="p-2">
        <div style="margin-bottom: 1%;">
            <h2 style="text-align: center">Aviso</h2>
            <!--<mat-icon style="float: right; cursor: pointer;" (click)="cerrarModal()">close</mat-icon>-->
        </div>

        <div style="margin-bottom: 1%;">
            <h3 style="text-align: justify">Actualmente se tienen múltiples opciones activas en el catálogo de Configuración de Costos Variables; favor de seleccionar el costo calculado que se desea aplicar a la cotización.</h3>
        </div>

        <form [formGroup]="formConfiguracionCombustible" *ngIf="boolShowFormCombustible">
            <div style="margin-bottom: 1%;margin-top: 3%;">
                <h3 style="display: inline">Combustible:</h3>
            </div>
            <div style="margin-bottom: 1%;" *ngIf="boolShowChkCombAutomatico">
                <ng-container>
                    <mat-checkbox [labelPosition]="'after'" style="height: 40px; padding-top: 15px;"
                                  formControlName="formCombAutomatico" (change)="validateOptions($event, 'formCombAutomatico')">
                        <label>{{strLblChkCombAutomatico}}</label>
                    </mat-checkbox>
                    <mat-icon class="ml-8" matTooltipPosition="right" matTooltip="{{tooltipCostoCombustibleAutomatico}}">info</mat-icon>
                </ng-container>
            </div>
            <div style="margin-bottom: 1%;" *ngIf="boolShowChkCombTarifa">
                <ng-container>
                    <mat-checkbox [labelPosition]="'after'" style="height: 40px; padding-top: 15px;"
                                  formControlName="formCombTarifa" (change)="validateOptions($event, 'formCombTarifa')">
                        <label>{{strLblChkCombTarifa}}</label>
                    </mat-checkbox>
                    <mat-icon class="ml-8" matTooltipPosition="right" matTooltip="{{tooltipCostoCombustibleTarifa}}">info</mat-icon>
                </ng-container>
            </div>

            <div style="margin-bottom: 1%;" *ngIf="boolShowChkCombHistorico">
                <ng-container>
                    <mat-checkbox [labelPosition]="'after'" style="height: 40px; padding-top: 15px;"
                                  formControlName="formCombHistorico" (change)="validateOptions($event, 'formCombHistorico')">
                        <label>{{strLblChkCombHistorico}}</label>
                    </mat-checkbox>
                    <mat-icon class="ml-8" matTooltipPosition="right" matTooltip="{{tooltipCostoCombustibleHistorico}}">info</mat-icon>
                </ng-container>
            </div>
        </form>

        <form [formGroup]="formConfiguracionCasetas" *ngIf="boolShowFormCasetas">
            <div style="margin-bottom: 1%; margin-top: 3%;">
                <h3 style="display: inline">Casetas:</h3>
            </div>

            <div style="margin-bottom: 1%;" *ngIf="boolShowChkCasAutomatico">
                <ng-container>
                    <mat-checkbox [labelPosition]="'after'" style="height: 40px; padding-top: 15px;"
                                  formControlName="formCasAutomatico" (change)="validateOptions($event, 'formCasAutomatico')">
                        <label>{{strLblChkCasAutomatico}}</label>
                    </mat-checkbox>
                    <mat-icon class="ml-8" matTooltipPosition="right" matTooltip="{{tooltipCostoCasetasAutomatico}}">info</mat-icon>
                </ng-container>
            </div>
            <div style="margin-bottom: 1%;" *ngIf="boolShowChkCasHistorico">
                <ng-container>
                    <mat-checkbox [labelPosition]="'after'" style="height: 40px; padding-top: 15px;"
                                  formControlName="formCasHistorico" (change)="validateOptions($event, 'formCasHistorico')">
                        <label>{{strLblChkCasHistorico}}</label>
                    </mat-checkbox>
                    <mat-icon class="ml-8" matTooltipPosition="right" matTooltip="{{tooltipCostoCasetasHistorico}}">info</mat-icon>
                </ng-container>
            </div>
            <div style="margin-bottom: 1%;" *ngIf="boolShowChkCasArchivo">
                <ng-container>
                    <mat-checkbox [labelPosition]="'after'" style="height: 40px; padding-top: 15px;"
                                  formControlName="formCasArchivo" (change)="validateOptions($event, 'formCasArchivo')">
                        <label>{{strLblChkCasArchivo}}</label>
                    </mat-checkbox>
                    <mat-icon class="ml-8" matTooltipPosition="right" matTooltip="{{tooltipCostoCasetasArchivo}}">info</mat-icon>
                </ng-container>
            </div>
        </form>

        <div style="text-align: center;margin-top: 5%;">
            <button (click)="cerrarModal()" class="btn-listado" style="background-color: gray;">Configuración</button>
            <button (click)="aceptar()" class="btn-listado" style="background-color: green;">Aceptar</button>
        </div>
    </div>
</div>
