<div class="content">
    <div class="pt-1" fxLayout="column" fxLayoutAlign="stretch">
        <div class="section-header p-2" fxFlex="100" fxLayout="row" fxLayout.xs="column">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="80" fxFlex.xs="100">
                <p>Catálogo Servicio</p>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="column" fxLayoutAlign="stretch">
        <div class="p-2">
            <form [formGroup]="formServicio" autocomplete="off">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3" style="height: 69px;">
                            <mat-label>N° Servicio</mat-label>
                            <input matInput formControlName="formNoServicio" [(ngModel)]="servicio.idServicio">
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Descripción</mat-label>
                            <input matInput formControlName="formNombre" [(ngModel)]="servicio.nombre">
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Estatus</mat-label>
                            <mat-select formControlName="formEstatus" [(ngModel)]="servicio.estatus">
                                <mat-option *ngFor="let e of estatus" [value]="e.id">
                                    {{e.estatus}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>Tipo Servicio</mat-label>
                            <mat-select formControlName="formTipoServicio" [(ngModel)]="servicio.idTipoServicio">
                                <mat-option *ngFor="let ts of tiposServicio" [value]="ts.id">
                                    {{ts.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <ng-container>
                            <ng-select class="mr-3" formControlName="formTipoOperacion" [(ngModel)]="servicio.idTipoOperacion" placeholder="Tipo Operación">
                                <ng-option *ngFor="let to of tiposOperacion" [value]="to.id">
                                    {{to.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>
                    </div>
                </div>
             </form>
            <div style="text-align: center;">
                <button (click)="regresar()" class="btn-listado" style="background-color: gray;">Regresar</button>
                <button (click)="nuevo()" class="btn-listado" style="background-color: #3c88d4;">Nuevo</button>
                <button (click)="guardar()" class="btn-listado" style="background-color: green;">Guardar</button>
            </div>
        </div>
    </div>
</div>
