<div class="content">
    <div class="pt-1" fxLayout="column" fxLayoutAlign="stretch">
        <div class="section-header p-2" fxFlex="100" fxLayout="row" fxLayout.xs="column">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="80" fxFlex.xs="100">
                <p>Vehículo</p>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="column" fxLayoutAlign="stretch">
        <div class="p-2">
            <form [formGroup]="formVehiculos" autocomplete="off">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>Nombre del Armado</mat-label>
                            <input matInput formControlName="formNombre" [(ngModel)]="vehiculo.nombre">
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Tipo de Combustible</mat-label>
                            <mat-select formControlName="formTipoCombustible" [(ngModel)]="vehiculo.idCombustibleTipo">
                                <mat-option *ngFor="let comb of combustibles" [value]="comb.id">
                                    {{comb.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Rendimiento Esperado</mat-label>
                            <input matInput formControlName="formRendimiento" [(ngModel)]="vehiculo.rendimiento">
                        </mat-form-field>

                        <mat-form-field class="mr-3" style="margin-top: 1px;">
                            <mat-label>Cap. Carga Mínima</mat-label>
                            <input matInput formControlName="formCargaMin" [(ngModel)]="vehiculo.cargaMin">
                        </mat-form-field>

                        <mat-form-field class="mr-3" style="margin-top: 1px;">
                            <mat-label>Rendimiento UREA</mat-label>
                            <input matInput formControlName="formRendimientoUrea" [(ngModel)]="vehiculo.rendimientoUrea">
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>Clasificación</mat-label>
                            <mat-select formControlName="formClasificacion" [(ngModel)]="vehiculo.idVehiculoClasificacion">
                                <mat-option *ngFor="let c of clasificaciones" [value]="c.id">
                                    {{c.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Estatus</mat-label>
                            <mat-select formControlName="formEstatus" [(ngModel)]="vehiculo.estatus">
                                <mat-option *ngFor="let es of estatus" [value]="es.id">
                                    {{es.estatus}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mr-3" style="margin-top: 4px;">
                            <mat-label>Unidad Medida Carga</mat-label>
                            <mat-select formControlName="formUnidadMedida" [(ngModel)]="vehiculo.unidadMedida">
                                <mat-option *ngFor="let es of unidadMedida" [value]="es.id">
                                    {{es.unidadMedida}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mr-3" >
                            <mat-label>Cap. Carga Máxima</mat-label>
                            <input matInput formControlName="formCargaMax" [(ngModel)]="vehiculo.cargaMax">
                        </mat-form-field>
                    </div>
                </div>
            </form>
            
        </div>
    </div>

    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-dark-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active p-2 mr-2" style="border-width: 3px 3px;">Agregar Productos</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center">
                <div (click)="agregarProducto()" class="p-2 noOrigen">
                    <mat-icon style="color: white; vertical-align: middle;">add</mat-icon>
                </div>
            </div>
        </div>

        <div class="p-2">
            <ng-container *ngIf="vehiculo.productos.length > 0">
                <div *ngFor="let c of vehiculo.productos; let i = index;">
                    <div fxLayout="row" fxLayoutAlign="">
                        <div fxLayout="column" fxFlex="48%">
                            <mat-form-field class="mr-3" style="margin-top: 11px;">
                                <mat-label>Producto</mat-label>
                                <input matInput [formControl]="getControlProducto(i, 'idProducto')" [(ngModel)]="c.idProducto"/>
                            </mat-form-field>
                        </div>

                        <div fxLayout="column" fxFlex="48%">
                            <ng-container>
                                <ng-select class="mr-3" placeholder="Descripcion" [formControl]="getControlProducto(i, 'descripcion')" [(ngModel)]="c.descripcion"
                                           (change)="seleccionarProducto(i)">
                                    <ng-option *ngFor="let p of productos" [value]="p.id">
                                        {{p.descripcion}}
                                    </ng-option>
                                </ng-select>
                            </ng-container>
                        </div>

                        <div fxLayout="column" fxFlex="4%" style="margin-top: 4px;">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div (click)="eliminaProducto(i)" class="p-2 deleteRow">
                                    <mat-icon style="color: white; vertical-align: middle;">delete</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </ng-container>
        </div>

        <div style="text-align: center;">
            <button (click)="regresar()" class="btn-listado" style="background-color: gray;">Regresar</button>
            <button (click)="nuevo()" class="btn-listado" style="background-color: #3c88d4;">Nuevo</button>
            <button (click)="guardar()" class="btn-listado" style="background-color: green;">Guardar</button>
        </div>
    </div>
</div>
