<div class="content">
    <div class="pt-1" fxLayout="column" fxLayoutAlign="stretch">
        <div class="section-header p-2" fxFlex="100" fxLayout="row" fxLayout.xs="column">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="80" fxFlex.xs="100">
                <p>Contratos</p>
            </div>
        </div>
    </div>

    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-dark-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active pointer p-2 mr-2">Filtros</div>
            </div>
        </div>

        <div *ngIf="filtros" class="bordered-content">
            <div class="p-2">
                <div fxLayout="row" fxLayoutAlign="" class="mt-3 mb-3">
                    <div fxLayout="column" fxFlex="50%">
                        <div>
                            <mat-form-field class="mr-3" fxFlex="50%">
                                <mat-label>Fecha Inicial</mat-label>
                                <input matInput [matDatepicker]="inicial" [(ngModel)]="filtro.fechaInicio">
                                <mat-datepicker-toggle matSuffix [for]="inicial"></mat-datepicker-toggle>
                                <mat-datepicker #inicial></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field class="mr-3" fxFlex="50%">
                                <mat-label>Fecha Final</mat-label>
                                <input matInput [matDatepicker]="final" [(ngModel)]="filtro.fechaFin">
                                <mat-datepicker-toggle matSuffix [for]="final"></mat-datepicker-toggle>
                                <mat-datepicker #final></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <ng-container>
                            <ng-select class="mr-3" placeholder="Cliente" [(ngModel)]="filtro.idCliente">
                                <ng-option *ngFor="let c of clientes" [value]="c.id">
                                    {{c.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <ng-container>
                            <ng-select class="mr-3" placeholder="Ruta" [(ngModel)]="filtro.idRuta">
                                <ng-option *ngFor="let r of rutas" [value]="r.id">
                                    {{r.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>
                    </div>

                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>Convenio</mat-label>
                            <input matInput [(ngModel)]="filtro.nombre">
                        </mat-form-field>

                        <mat-form-field class="mr-3" style="padding-top: 12px;">
                            <mat-label>Estatus</mat-label>
                            <mat-select [(ngModel)]="filtro.idConvenioEstatus">
                                <mat-option *ngFor="let e of estatus" [value]="e.id">
                                    {{e.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div style="text-align: center;">
                    <button (click)="consultarConvenios()" class="btn-listado" style="background-color: green;">Consultar</button>
                    <button (click)="limpiar()" class="btn-listado" style="background-color: red;">Limpiar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-dark-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active pointer p-2 mr-2">Detalle</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
                <div class="border-solid border-transparent">
                    <button (click)="nuevo()" class="btn-listado acciones h-45">Nuevo</button>
                </div>

                <div class="border-solid border-transparent">
                    <button [matMenuTriggerFor]="menu" class="btn-listado acciones h-45">
                        Acciones
                        <mat-icon class="arrow-down" style="vertical-align: middle;">arrow_drop_down</mat-icon>
                    </button>
                </div>

                <div class="border-solid border-transparent">
                    <button (click)="filtros = !filtros" class="btn-listado acciones h-45">Filtros</button>
                </div>

                <mat-menu #menu="matMenu" yPosition="above">
                    <button mat-menu-item (click)="validarGenerarConvenio()">Generar convenio</button>
                    <button mat-menu-item (click)="abrirModalAumentarVigencia()">Aumentar vigencia</button>
                </mat-menu>
            </div>
        </div>

        <div class="bordered-content">
            <div class="p-2">
                <div class="table-container">
                    <mat-table #table [dataSource]="dataSource" matSort class="mat-table mat-elevation-z8">
                        <ng-container matColumnDef="check">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let c">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                              (change)="$event ? selection.toggle(c) : null"
                                              [checked]="selection.isSelected(c)">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="convenio">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Contrato</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c">{{c.idConvenio}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Nombre</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c">{{c.nombreConvenio}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="cliente">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Cliente</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c">{{c.cliente}}</mat-cell>
                        </ng-container>



                        <ng-container matColumnDef="ruta">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Ruta</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c">{{c.ruta}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estatus">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Estatus</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c">{{c.estatus}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="remitente">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Remitente</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c">{{c.remitente}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="destinatario">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Destinatario</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let c">{{c.destinatario}}</mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></mat-row>
                    </mat-table>
                </div>
                <mat-paginator #paginator [pageSizeOptions]="[5, 25, 50, 75]" showFirstLastButtons [pageSize]="50"></mat-paginator>
            </div>
        </div>
    </div>

</div>
