::ng-deep.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

::ng-deep.bg-blue .mat-form-field-flex {
    background-color: #0597d6;
}

::ng-deep.bg-blue .mat-select-value-text{
    color: white;
}

::ng-deep.bg-blue .mat-select-arrow {
    color: white !important;
}

.utilidad {
    border: none;
    background-color: transparent;
    width: 40px;
    color: white;
    font-size: 16pt;
    font-weight: 600;
}

.utilidad:focus {
    outline: none;
}

