<div class="content">
    <div fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-dark-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active pointer p-2 mr-2">Estatus: <b>{{estatusCotizacion}}</b></div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
                <div class="border-solid border-transparent">
                    <button class="btn-listado acciones h-45" style="width: fit-content;"
                            [ngClass]="edicion? 'bg-dark-blue' : 'bg-light-gray'" (click)="verificarEstatus()">
                        Generar Contrato
                    </button>
                </div>

                <div class="border-solid border-transparent">
                    <button class="btn-listado acciones h-45" style="width: fit-content;"
                            [ngClass]="edicion? 'bg-dark-blue' : 'bg-light-gray'" (click)="rechazarCotizacion()">
                        Rechazar Cotización
                    </button>
                </div>
            </div>
           
        </div>
    </div>
    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div style="background-color: #0597d6;">
            <div style="display: flex; height: 70px; width: 90%; margin: auto; line-height: 5em;">
                <div style="width: 33%; color: white; font-size: 16pt; text-align: center;">
                    Gastos calculados <b>${{totalMask}}</b>
                </div>
                <div style="width: 33%; color: white; font-size: 16pt; text-align: center;">
                    Utilidad esperada <div style="display: inline; border: 1px solid; font-weight: bold; padding: 5px 20px;">
                        <input class="utilidad" [(ngModel)]="utilidad" (ngModelChange)="calcularTarifa()" />%
                    </div>
                </div>
                <div style="width: 33%; color: white; font-size: 16pt; text-align: center;">
                    Tarifa <b>${{tarifaMask}}</b>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div style="border: 2px solid gray">
            <div style="display: flex; height: 50px; width: 90%; margin: auto; line-height: 3.5em;">
                <div style="width: 50%; color: gray; font-size: 12pt; text-align: center;">
                    Gastos calculados por km <b>${{gastoCalculadoKmMask}}</b>
                </div>
                <div style="width: 0%; color: gray; font-size: 12pt; text-align: center;">
                    <!--Tarifa promedio(kms) <b>$0.00</b>-->
                </div>
                <div style="width: 50%; color: gray; font-size: 12pt; text-align: center;">
                    Tarifa por km <b>${{tarifaKmMask}}</b>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div style="border: 2px solid gray">
            <div style="display: flex; height: 50px; width: 90%; margin: auto; line-height: 3.5em;">
                <div style="width: 50%; color: gray; font-size: 12pt; text-align: center;">
                    Gastos calculados por UM <b>${{gastoCalculadoUMMask}}</b>
                </div>
                <div style="width: 0%; color: gray; font-size: 12pt; text-align: center;">
                    <!--Tarifa promedio(kms) <b>$0.00</b>-->
                </div>
                <div style="width: 50%; color: gray; font-size: 12pt; text-align: center;">
                    Tarifa por UM <b>${{tarifaUMMask}}</b>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="p-2">
            <form [formGroup]="formEncabezado" autocomplete="off">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="50%">
                        <!--<h2 style="color: gray; height: 56.56px">Encabezado</h2>-->
                        <div style="padding-top: 5px;">
                            <ng-container>
                                <ng-select fxFlex="94%" placeholder="Cliente" formControlName="formCliente">
                                    <ng-option [value]="0">
                                        0 - SIN ASIGNAR
                                    </ng-option>
                                    <ng-option *ngFor="let c of clientes" [value]="c.id">
                                        {{c.descripcion}}
                                    </ng-option>
                                </ng-select>
                            </ng-container>
                            <!--<div class="mr-3" fxFlex="6%" style="font-size: 18px; height: 39px; text-align: center; background-color: #ffce55; margin-top: 12px;">
                                <mat-icon style="vertical-align: -webkit-baseline-middle; color: white;">add</mat-icon>
                            </div>-->
                        </div>

                        <div *ngIf="isClienteOtro">
                            <mat-form-field fxFlex="94%" style="margin-top: 12px;">
                                <mat-label>Nombre del Cliente</mat-label>
                                <input matInput formControlName="formClienteOtro">
                            </mat-form-field>
                        </div>

                        <div>
                            <ng-container>
                                <ng-select fxFlex="94%" placeholder="Tipo de operación" formControlName="formTipoOperacion">
                                    <ng-option *ngFor="let to of tiposOperacion" [value]="to.id">
                                        {{to.descripcion}}
                                    </ng-option>
                                </ng-select>
                            </ng-container>
                            <!--<div class="mr-3" fxFlex="6%" style="font-size: 18px; height: 39px; text-align: center; background-color: #ffce55; margin-top: 12px;">
                                <mat-icon style="vertical-align: -webkit-baseline-middle; color: white;">add</mat-icon>
                            </div>-->
                        </div>

                        <div>
                            <mat-form-field fxFlex="94%" style="margin-top: 12px;">
                                <mat-label>Tipo de servicio</mat-label>
                                <mat-select formControlName="formTipoServicio">
                                    <mat-option *ngFor="let ts of tiposServicio" [value]="ts.id">
                                        {{ts.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!--<div class="mr-3" fxFlex="6%" style="font-size: 18px; height: 39px; text-align: center; background-color: #ffce55; margin-top: 12px;">
                                <mat-icon style="vertical-align: -webkit-baseline-middle; color: white;">add</mat-icon>
                            </div>-->
                        </div>

                        <div style="padding-top: 13px;">
                            <mat-form-field class="mr-3 bg-blue" fxFlex="50%">
                                <mat-label style="color: white;">Moneda</mat-label>
                                <mat-select formControlName="formMoneda">
                                    <mat-option *ngFor="let m of monedas" [value]="m.id">
                                        {{m.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="mr-3" fxFlex="40%">
                                <mat-label>Tipo de cambio</mat-label>
                                <input matInput formControlName="formTipoCambio">
                            </mat-form-field>
                        </div>

                        <div style="padding-top: 13px;">
                            <mat-form-field class="mr-3 bg-blue" fxFlex="94%">
                                <mat-label style="color: white;">Unidad Medida de Carga</mat-label>
                                <mat-select formControlName="formUnidadMedidaCarga" (selectionChange)="actualizaVehiculos()">
                                    <mat-option *ngFor="let um of unidadMedida" [value]="um.id">
                                        {{um.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                    </div>

                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3" style="margin-top: 13px;">
                            <mat-label>Folio</mat-label>
                            <input matInput formControlName="formFolio">
                        </mat-form-field>

                        <ng-container>
                            <ng-select class="mr-3" placeholder="Empresa" formControlName="formEmpresa">
                                <ng-option *ngFor="let e of empresas" [value]="e.id">
                                    {{e.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <ng-container>
                            <ng-select class="mr-3" placeholder="Sucursales" formControlName="formSucursales">
                                <ng-option *ngFor="let a of areas" [value]="a.id">
                                    {{a.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <ng-container>
                            <ng-select class="mr-3" placeholder="Productos" formControlName="formProductos" style="margin-top: 3px;" (ngModelChange)="actualizaVehiculos()">
                                <ng-option [value]="0">
                                    0 - SIN ASIGNAR
                                </ng-option>
                                <ng-option *ngFor="let p of productos" [value]="p.id">
                                    {{p.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <ng-container *ngIf="isProductoOtro">
                            <mat-form-field class="mr-3" fxFlex="94%" style="margin-top: 12px;">
                                <mat-label>Nombre del Producto</mat-label>
                                <input matInput formControlName="formProductoOtro">
                            </mat-form-field>
                        </ng-container>

                        <mat-form-field class="mr-3" fxFlex="94%" style="margin-top: 12px;">
                            <mat-label>Cantidad (carga)</mat-label>
                            <input matInput formControlName="formCantidadUnidadMedida" (input)="actualizaVehiculos()">
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-light-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="p-2 mr-2" style="color: white; font-size: 18px; border: solid #0597d6;">Ruta</div>
            </div>
        </div>
        <div class="p-2">
            <form [formGroup]="formRutas" autocomplete="off">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="50%">
                        <ng-container>
                            <ng-select formControlName="formRuta" class="mr-3" placeholder="Ruta" [(ngModel)]="ruta.idRuta"
                                       (ngModelChange)="setRuta()">
                                <ng-option *ngFor="let r of rutas" [value]="r.id">
                                    {{r.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <ng-container>
                            <ng-select formControlName="formOrigen" class="mr-3" placeholder="Origen" [(ngModel)]="ruta.idPlazaOrigen"
                                       (ngModelChange)="setLatLon(1)">
                                <ng-option *ngFor="let po of plazas" [value]="po.id">
                                    {{po.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <mat-form-field class="mr-3" style="margin-top: 1px;">
                            <mat-label>Referencia Origen</mat-label>
                            <input matInput formControlName="formOrigenDireccion" [(ngModel)]="ruta.origenDireccionSegmento" [matAutocomplete]="autoOrigen">
                            <mat-autocomplete autoActiveFirstOption #autoOrigen="matAutocomplete">
                                <mat-option *ngFor="let optionOrigen of filtroOrigen | async" [value]="optionOrigen.direccion" (onSelectionChange)="setDireccionReferencia(optionOrigen,1)">
                                    {{optionOrigen.direccion}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field class="mr-3" style="margin-top: 1px;">
                            <mat-label>Condiciones de origen</mat-label>
                            <mat-select formControlName="formCondiciones" [(ngModel)]="ruta.idRutaCondicionOrigen">
                                <mat-option *ngFor="let co of condiciones" [value]="co.id">
                                    {{co.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Tipo de ruta</mat-label>
                            <mat-select formControlName="formTipoRuta" [(ngModel)]="ruta.idRutaTipo">
                                <mat-option *ngFor="let tr of tiposRuta" [value]="tr.id">
                                    {{tr.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <ng-container>
                            <ng-select class="mr-3" formControlName="formCombustibleTarifa" [(ngModel)]="ruta.idCombustibleTarifa" placeholder="Tarifa Combustible">
                                <ng-option *ngFor="let ta of tarifas" [value]="ta.id">
                                    {{ta.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <ng-container>
                            <ng-select class="mr-3" formControlName="formUreaTarifa" [(ngModel)]="ruta.idUreaTarifa" placeholder="Tarifa UREA">
                                <ng-option *ngFor="let taU of tarifasUrea" [value]="taU.id">
                                    {{taU.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <mat-form-field class="mr-3" style="margin-top: 1px;">
                            <mat-label>Ejes Excedentes</mat-label>
                            <input matInput formControlName="formEjesExcedentes" [(ngModel)]="ruta.ejesExcedentes" (blur)="agregaEjesExcedentes()">
                        </mat-form-field>

                    </div>

                    <div fxLayout="column" fxFlex="50%">
                        <ng-container>
                            <ng-select class="mr-3" placeholder="Tipo de Vehículo" formControlName="formTipoVehiculo" [(ngModel)]="ruta.idVehiculoArmado" (ngModelChange)="setRendimiento()">
                                <ng-option *ngFor="let tv of tiposVehiculo" [value]="tv.id">
                                    {{tv.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <ng-container>
                            <ng-select formControlName="formDestino" class="mr-3" placeholder="Destino" [(ngModel)]="ruta.idPlazaDestino"
                                       (ngModelChange)="setLatLon(2)">
                                <ng-option *ngFor="let pd of plazas" [value]="pd.id">
                                    {{pd.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <mat-form-field class="mr-3" style="margin-top: 1px;" *ngIf="campoRefDestinoVisibles">
                            <mat-label>Referencia Destino</mat-label>
                            <input matInput formControlName="formDestinoDireccion" [(ngModel)]="ruta.destinoDireccionSegmento" [matAutocomplete]="autoDestino">
                            <mat-autocomplete autoActiveFirstOption #autoDestino="matAutocomplete">
                                <mat-option *ngFor="let optionDestino of filtroDestino | async" [value]="optionDestino.direccion" (onSelectionChange)="setDireccionReferencia(optionDestino,2)">
                                    {{optionDestino.direccion}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Tipo de carretera</mat-label>
                            <mat-select formControlName="formTipoCarretera" [(ngModel)]="ruta.idTipoCarretera">
                                <mat-option *ngFor="let tc of tiposCarretera" [value]="tc.id">
                                    {{tc.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mr-3" style="margin-top: 1px;">
                            <mat-label>Total de Kms</mat-label>
                            <input matInput formControlName="formKms" [(ngModel)]="ruta.kms" (blur)="consultarCostosPorKms()">
                        </mat-form-field>

                        <mat-form-field class="mr-3" style="margin-top: 10px;">
                            <mat-label>Rendimiento Esperado Combustible</mat-label>
                            <input matInput formControlName="formRendimiento" [(ngModel)]="ruta.rendimiento">
                        </mat-form-field>

                        <mat-form-field class="mr-3" style="margin-top: 10px;">
                            <mat-label>Rendimiento Esperado UREA</mat-label>
                            <input matInput formControlName="formRendimientoUrea" [(ngModel)]="ruta.rendimientoUrea">
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-light-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="p-2 mr-2" style="color: white; font-size: 18px; border: solid #0597d6;">Segmentos</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="p-2" style="background-color: #ffce55; font-size: 18pt; cursor: pointer;"
                     (click)="agregarSegmento()">
                    <mat-icon style="color: white; vertical-align: middle;">add</mat-icon>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div *ngFor="let s of ruta.segmentos; let i = index;">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="33%">
                        <mat-form-field class="mr-3" fxFlex="50%">
                            <mat-label>Direccion</mat-label>
                            <input matInput [formControl]="getControlSegmento(i, 'direccion')" [(ngModel)]="s.direccionSegmento"
                                   [matAutocomplete]="auto">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                <mat-option *ngFor="let option of s.filtro | async" [value]="option.direccion" (onSelectionChange)="setDireccion(s, option)">
                                    {{option.direccion}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxFlex="33%">
                        <mat-form-field class="mr-3">
                            <mat-label>Tipo de parada</mat-label>
                            <mat-select [formControl]="getControlSegmento(i, 'tipoParada')" [(ngModel)]="s.idRutaTipoParada">
                                <mat-option *ngFor="let tp of tiposParada" [value]="tp.id">
                                    {{tp.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxFlex="33%">
                        <mat-form-field class="mr-3">
                            <mat-label>Movimiento</mat-label>
                            <mat-select [formControl]="getControlSegmento(i, 'movimiento')" [(ngModel)]="s.idRutaMovimiento">
                                <mat-option *ngFor="let tm of tiposMovimiento" [value]="tm.id">
                                    {{tm.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div style="height: 300px;">
                <div id="leaflet-map" style="height: 100%;"></div>
            </div>
            <div style="text-align: center; margin-top: 1%;">
                <button class="btn-listado bg-light-blue" (click)="abrirModalMapa()">Abrir mapa</button>
                <button class="btn-listado bg-light-blue" (click)="calcularKmTotal()">Calcular ruta</button>
            </div>
            <div><b>Detalle operativo:</b></div>
            <div style="width: 80%; display: flex; margin-top: 1%;">
                <div style="width: 33%">Rendimiento Estimado: &nbsp; {{rutaCalculada.rendimiento}}</div>
                <div style="width: 33%">Tiempo Estimado de Ruta: &nbsp; {{rutaCalculada.tiempoEstimado}}</div>
                <div style="width: 33%">Costo de Combustible: &nbsp; {{rutaCalculada.costoCombustibleInfo}}</div>
            </div>
            <div style="margin-top: 2%;">
                <div>
                    <h3 style="display: inline;">
                        <mat-icon style="color: #ffce55; vertical-align: bottom;">directions</mat-icon>
                        Casetas
                    </h3>
                </div>
                <div class="p-2">{{rutaCalculada.casetasRuta}}</div>
            </div>
            <div style="margin-top: 2%;">
                <div>
                    <h3 style="display: inline;">
                        <mat-icon style="color: #ffce55; vertical-align: bottom;">warning</mat-icon>
                        Advertencias encontradas en ruta
                    </h3>
                </div>
                <div class="p-2">{{rutaCalculada.advertencias}}</div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="p-2">
            <h2 style="color: gray;">Frecuencia de servicios</h2>
            <form [formGroup]="formFrecuencia" autocomplete="off">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3" fxFlex="50%">
                            <mat-label>Tipo de frecuencia</mat-label>
                            <mat-select formControlName="formTipoFrecuencia">
                                <mat-option *ngFor="let f of frecuencias" [value]="f.id">
                                    {{f.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>Cantidad</mat-label>
                            <input matInput formControlName="formCantidad" (blur)="calcularSubtotal()">
                        </mat-form-field>

                        <div>
                            <mat-form-field class="mr-3 bg-blue" fxFlex="50%">
                                <mat-label style="color: white;">Tipo de cobro</mat-label>
                                <mat-select formControlName="formTipoCobro">
                                    <mat-option *ngFor="let tc of tiposCobro" [value]="tc.id">
                                        {{tc.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="mr-3 bg-blue" fxFlex="50%">
                                <mat-label style="color: white;">Unidad de medida</mat-label>
                                <mat-select formControlName="formUnidadMedida">
                                    <mat-option *ngFor="let u of unidades" [value]="u.id">
                                        {{u.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="p-2">
            <div fxLayout="row" fxLayoutAlign="">
                <div fxLayout="column" fxFlex="33%" class="mr-3">
                    <div fxLayout="row" fxLayoutAlign="space-between end" style="background-color: #0597d6;">
                        <div fxLayout="row" fxLayoutAlign="start end">
                            <div class="p-2 mr-2" style="color: white; background-color: #0597d6; border: 3px solid transparent; font-size: 12pt;">Costos Variables Operativos</div>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div (click)="agregarCostoVariable()" class="pointer p-2" style="background-color: #ffce55; font-size: 18pt;">
                                <mat-icon style="color: white; vertical-align: middle; cursor: pointer;">add</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div>
                        <table style="border-collapse: collapse; width: 100%;">
                            <tr *ngFor="let cv of costosVariables; let i = index;" style="border: 1px solid gray;">
                                <td style="width: 20%; border: 1px solid gray; text-align: center;">
                                    <div *ngIf="cv.id != 'Combustible' && cv.id != 'Casetas' && cv.id != 'Sueldo' && cv.id != 'UREA'">
                                        <mat-icon style="vertical-align: middle; color: red; cursor: pointer;"
                                                  (click)="quitarCostoVariable(i)">delete</mat-icon>
                                    </div>
                                    
                                </td>
                                <td style="width: 40%; border: 1px solid gray;">
                                    <input style="border: none; width: 100%; height: 100%; text-align: center" [(ngModel)]="cv.id" />
                                </td>
                                <td style="width: 40%; border: 1px solid gray;">
                                    <input style="border: none; width: 100%; height: 100%; text-align: center" [(ngModel)]="cv.monto" (ngModelChange)="calcularCostoVariable()" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%; border: 1px solid gray;">&nbsp;</td>
                                <th style="width: 40%; border: 1px solid gray;">Total</th>
                                <th style="width: 40%; border: 1px solid gray;">${{totalVariablesMask}}</th>
                            </tr>
                        </table>
                    </div>
                </div>

                <div fxLayout="column" fxFlex="33%" class="mr-3">
                    <div fxLayout="row" fxLayoutAlign="space-between end" style="background-color: #0597d6;">
                        <div fxLayout="row" fxLayoutAlign="start end">
                            <div class="p-2 mr-2" style="color: white; background-color: #0597d6; border: 3px solid transparent; font-size: 12pt;">Costos Fijos</div>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div (click)="agregarCostoFijo()" class="pointer p-2" style="background-color: #ffce55; font-size: 18pt;">
                                <mat-icon style="color: white; vertical-align: middle; cursor: pointer;">add</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div>
                        <table style="border-collapse: collapse; width: 100%;">
                            <tr *ngFor="let cf of costosFijos; let i = index;" style="border: 1px solid gray;">
                                <td style="width: 20%; border: 1px solid gray; text-align: center;">
                                    <mat-icon style="vertical-align: middle; color: red; cursor: pointer;"
                                              (click)="quitarCostoFijo(i)">delete</mat-icon>
                                </td>
                                <td style="width: 40%; border: 1px solid gray;">
                                    <input style="border: none; width: 100%; height: 100%; text-align: center" [(ngModel)]="cf.id" />
                                </td>
                                <td style="width: 40%; border: 1px solid gray;">
                                    <input style="border: none; width: 100%; height: 100%; text-align: center" [(ngModel)]="cf.monto" (ngModelChange)="calcularCostoFijo()" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%; border: 1px solid gray;">&nbsp;</td>
                                <th style="width: 40%; border: 1px solid gray;">Total</th>
                                <th style="width: 40%; border: 1px solid gray;">${{totalFijosMask}}</th>
                            </tr>
                        </table>
                    </div>
                </div>

                <div fxLayout="column" fxFlex="33%">
                    <div fxLayout="row" fxLayoutAlign="space-between end" style="background-color: #0597d6;">
                        <div fxLayout="row" fxLayoutAlign="start end">
                            <div class="p-2 mr-2" style="color: white; background-color: #0597d6; border: 3px solid transparent; font-size: 12pt;">Otros Costos</div>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div (click)="agregarCostoOtro()" class="pointer p-2" style="background-color: #ffce55; font-size: 18pt;">
                                <mat-icon style="color: white; vertical-align: middle; cursor: pointer;">add</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div>
                        <table style="border-collapse: collapse; width: 100%;">
                            <tr *ngFor="let co of costosOtros; let i = index;" style="border: 1px solid gray;">
                                <td style="width: 20%; border: 1px solid gray; text-align: center;">
                                    <mat-icon style="vertical-align: middle; color: red; cursor: pointer;"
                                              (click)="quitarCostoOtro(i)">delete</mat-icon>
                                </td>
                                <td style="width: 40%; border: 1px solid gray;">
                                    <input style="border: none; width: 100%; height: 100%; text-align: center" [(ngModel)]="co.id" />
                                </td>
                                <td style="width: 40%; border: 1px solid gray;">
                                    <input style="border: none; width: 100%; height: 100%; text-align: center" [(ngModel)]="co.monto" (ngModelChange)="calcularCostoOtro()" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%; border: 1px solid gray;">&nbsp;</td>
                                <th style="width: 40%; border: 1px solid gray;">Total</th>
                                <th style="width: 40%; border: 1px solid gray;">${{totalOtrosMask}}</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="p-2">
            <!--<div fxLayout="row" fxLayoutAlign="space-between end" style="background-color: #0597d6;">
        <div fxLayout="row" fxLayoutAlign="start end">
            <div class="p-2 mr-2" style="color: white; background-color: #0597d6; border: 3px solid transparent; font-size: 12pt;">Consideraciones</div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between end" style="background-color: white; border: 1px solid gray;">
        <div fxLayout="row" fxLayoutAlign="start end">
            <div class="p-2 mr-2"></div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="pointer p-2" style="background-color: #ffce55;">
                <mat-icon style="color: white; vertical-align: middle; cursor: pointer;">add</mat-icon>
            </div>
        </div>
    </div>-->
            <div fxLayout="row" fxLayoutAlign="space-between end" style="background-color: #0597d6;">
                <div fxLayout="row" fxLayoutAlign="start end">
                    <div class="p-2 mr-2" style="color: white; background-color: #0597d6; border: 3px solid transparent; font-size: 12pt;">Obervaciones</div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between end" style="background-color: white; border: 1px solid gray; padding: 5px;">
                <mat-form-field style="width: 100%;">
                    <textarea matInput rows="10" [(ngModel)]="observaciones"
                              placeholder="Escribe tus observaciones..."></textarea>
                </mat-form-field>
            </div>
            <div>
                <table class="mr-3" style="border-collapse: collapse; float: right;">
                    <tr>
                        <td>Subtotal</td>
                        <td>${{subtotalMask}}</td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="mr-3">
                                <mat-label>Descuento</mat-label>
                                <input matInput [(ngModel)]="descuento" (ngModelChange)="calcularDescuento()">
                            </mat-form-field>
                        </td>
                        <td>${{totalDescuentoMask}}</td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="mr-3">
                                <mat-label>Ajuste</mat-label>
                                <input matInput [(ngModel)]="ajuste" (ngModelChange)="calcularTotal()">
                            </mat-form-field>
                        </td>
                        <td>${{totalMask}}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>${{totalMask}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="text-align: center; margin-top: 3%;">
        <button [ngClass]="(idCotizacionEstatus > 1)? 'bg-light-gray' : 'bg-dark-blue'" (click)="guardar()" class="btn-listado">Guardar</button>
        <button (click)="regresar()" class="btn-listado" style="background-color: gray;">Cerrar</button>
        <button (click)="nuevo()" class="btn-listado" style="background-color: #3c88d4;">Nuevo</button>
    </div>
</div>
