<div>
    <h3 style="display: inline">Tarea</h3>
    <mat-icon style="float: right; cursor: pointer;" (click)="cerrarModal()">close</mat-icon>
    <div class="p-2">
        <div fxLayout="row" fxLayoutAlign="" class="mt-3">
            <div fxLayout="column" fxFlex="50%">
                <mat-form-field class="mr-3">
                    <mat-label>Titulo</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field class="mr-3">
                    <mat-label>Descripción</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field class="mr-3">
                    <mat-label>Etiqueta</mat-label>
                    <mat-select>
                        <mat-option>
                            Etiqueta 1
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="column" fxFlex="50%">
                <mat-form-field class="mr-3" fxFlex="50%">
                    <mat-label>Vence</mat-label>
                    <input matInput [matDatepicker]="vence">
                    <mat-datepicker-toggle matSuffix [for]="vence"></mat-datepicker-toggle>
                    <mat-datepicker #vence></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="mr-3" fxFlex="50%">
                    <mat-label>Seguimiento</mat-label>
                    <input matInput [matDatepicker]="seguimiento">
                    <mat-datepicker-toggle matSuffix [for]="seguimiento"></mat-datepicker-toggle>
                    <mat-datepicker #seguimiento></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="mr-3">
                    <mat-label>Agente</mat-label>
                    <mat-select>
                        <mat-option>
                            Agente 1
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="">
            <div fxLayout="column" fxFlex="100%">
                <label>Checklist <mat-icon style="vertical-align: bottom; color: white; background-color: #ffce55; cursor: pointer;">add</mat-icon></label>
            </div>
        </div>
        <div style="text-align: center;">
            <button class="btn-listado" style="background-color: green; height: 40px;">
                Guardar
            </button>
        </div>
    </div>
</div>
