<div>
    <div class="p-2">
        <form [formGroup]="formContrato">
            <div style="margin-bottom: 1%;">
                <h3 style="display: inline">Generar contrato</h3>
                <mat-icon style="float: right; cursor: pointer;" (click)="cerrarModal()">close</mat-icon>
            </div>

            <div>
                <mat-form-field fxFlex="94%">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="formNombre">
                </mat-form-field>
                <div fxFlex="6%" style="font-size: 18px; height: 39px; text-align: center; background-color: #ffce55;">
                    <mat-icon style="vertical-align: -webkit-baseline-middle; color: white;">bookmark</mat-icon>
                </div>
            </div>

            <div *ngIf="camposVisibles">
                <ng-container>
                    <ng-select fxFlex="94%" placeholder="Remitente" formControlName="formRemitente">
                        <ng-option *ngFor="let cr of clientes" [value]="cr.id">
                            {{cr.descripcion}}
                        </ng-option>
                    </ng-select>
                </ng-container>
                <div fxFlex="6%" style="font-size: 18px; height: 39px; text-align: center; background-color: #ffce55; margin-top: 12px;">
                    <mat-icon style="vertical-align: -webkit-baseline-middle; color: white;">add</mat-icon>
                </div>
            </div>

            <div *ngIf="camposVisibles">
                <ng-container>
                    <ng-select fxFlex="94%" placeholder="Destinatario" formControlName="formDestinatario">
                        <ng-option *ngFor="let cd of clientes" [value]="cd.id">
                            {{cd.descripcion}}
                        </ng-option>
                    </ng-select>
                </ng-container>
                <div fxFlex="6%" style="font-size: 18px; height: 39px; text-align: center; background-color: #ffce55; margin-top: 12px;">
                    <mat-icon style="vertical-align: -webkit-baseline-middle; color: white;">add</mat-icon>
                </div>
            </div>

            <mat-form-field style="width: 100%;">
                <mat-label>Fecha Inicio Contrato</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="formFecha">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field style="width: 100%;">
                <mat-label>Fecha Fin Contrato</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="formFechaFin">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </form>
        <div style="text-align: center;">
            <button (click)="cerrarModal()" class="btn-listado" style="background-color: gray;">Regresar</button>
            <button (click)="guardar()" class="btn-listado" style="background-color: green;">Guardar</button>
        </div>
    </div>
</div>
