<div class="content">
    <div class="pt-1" fxLayout="column" fxLayoutAlign="stretch">
        <div class="section-header p-2" fxFlex="100" fxLayout="row" fxLayout.xs="column">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="80" fxFlex.xs="100">
                <p>Contratos</p>
            </div>
        </div>
    </div>

    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-dark-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active pointer p-2 mr-2">Filtros</div>
            </div>
        </div>

        <div *ngIf="filtros" class="bordered-content">
            <div class="p-2">
                <div fxLayout="row" fxLayoutAlign="" class="mt-3 mb-3">
                    <div fxLayout="column" fxFlex="50%">
                        <div>
                            <mat-form-field class="mr-3" fxFlex="50%">
                                <mat-label>Fecha Inicial</mat-label>
                                <input matInput [matDatepicker]="inicial">
                                <mat-datepicker-toggle matSuffix [for]="inicial"></mat-datepicker-toggle>
                                <mat-datepicker #inicial></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field class="mr-3" fxFlex="50%">
                                <mat-label>Fecha Final</mat-label>
                                <input matInput [matDatepicker]="final">
                                <mat-datepicker-toggle matSuffix [for]="final"></mat-datepicker-toggle>
                                <mat-datepicker #final></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <mat-form-field class="mr-3">
                            <mat-label>Cliente</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Ruta</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>Agente</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Contrato</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Estatus</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>

                <div style="text-align: center;">
                    <button class="btn-listado" style="background-color: green;">Consultar</button>
                    <button class="btn-listado" style="background-color: red;">Limpiar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-dark-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active pointer p-2 mr-2">Detalle</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
                <div class="border-solid border-transparent">
                    <button (click)="nuevo()" class="btn-listado acciones h-45">Nuevo</button>
                </div>

                <div class="border-solid border-transparent">
                    <button [matMenuTriggerFor]="menu" class="btn-listado acciones h-45">
                        Acciones
                        <mat-icon class="arrow-down" style="vertical-align: middle;">arrow_drop_down</mat-icon>
                    </button>
                </div>

                <div class="border-solid border-transparent">
                    <button (click)="filtros = !filtros" class="btn-listado acciones h-45">Filtros</button>
                </div>

                <mat-menu #menu="matMenu" yPosition="above">
                    <button mat-menu-item>Clonar</button>
                    <button mat-menu-item>Renovar</button>
                    <button mat-menu-item>Editar</button>
                    <button mat-menu-item>Imprimir</button>
                    <button mat-menu-item>Exportar</button>
                    <button mat-menu-item>Cancelar</button>
                </mat-menu>
            </div>
        </div>

        <div class="bordered-content">
            <div class="p-2">
                <div class="table-container">
                    <mat-table #table [dataSource]="dataSource" matSort class="mat-table mat-elevation-z8">

                        <ng-container matColumnDef="contrato">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Contrato</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let cuenta"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="cliente">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Cliente</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let cuenta"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Nombre</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let cuenta"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fecha">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Fecha</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let cuenta"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="vigencia">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Vigencia</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let cuenta"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estatus">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Estatus</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let cuenta"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="usuario">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Usuario</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let cuenta"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="numero_rutas">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Número de rutas</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let cuenta"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="tarifa_promedio">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Tarifa promedio</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let cuenta"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="utilidad_promedio">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Utilidad promedio</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let cuenta"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="ultima_actualizacion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Última actualización</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let cuenta"></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="ultima_revision">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Última revisión</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let cuenta"></mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
                <mat-paginator #paginator [pageSizeOptions]="[5, 25, 50, 75]" showFirstLastButtons [pageSize]="50"></mat-paginator>
            </div>
        </div>
    </div>

</div>