<div class="content">
    <div class="pt-1" fxLayout="column" fxLayoutAlign="stretch">
        <div class="section-header p-2" fxFlex="100" fxLayout="row" fxLayout.xs="column">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="80" fxFlex.xs="100">
                <p>Configuración Costos Fijos</p>
            </div>
        </div>
    </div>
    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <form [formGroup]="formCostosFijosCabecera" autocomplete="off">
            <div class="p-2">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>Ejercicio cierre fiscal</mat-label>
                            <input matInput formControlName="formEjercicio" [(ngModel)]="costosFijos.ejercicio" />
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                        <mat-label>Factor de inflación</mat-label>
                        <input matInput [(ngModel)]="costosFijos.factorInflacion" [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                        </div>

                        <div fxLayout="column" fxFlex="50%">
                    <mat-form-field class="mr-3">
                        <mat-label>Factor de protección al gasto</mat-label>
                        <input matInput [(ngModel)]="costosFijos.factorProteccion" [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                </div>
                </div>
            </div>
            <!----------------------------------------------------------------------------------------------------------------------------------------------------------->
            <div class="bg-light-gray" fxLayout="row" fxLayoutAlign="space-between end">
                <div fxLayout="row" fxLayoutAlign="start end">
                    <div class="section-route section-route-active p-2 mr-2" style="border-width: 3px 3px; background-color: lightgray; border: lightgray">Detalle de Viajes</div>
                </div>
            </div>
            <div class="p-2">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>Total de Kilómetros del Ejercicio</mat-label>
                            <input matInput formControlName="formTotalKms" [(ngModel)]="costosFijos.totalKms" />
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>Total de Viajes del Ejercicio</mat-label>
                            <input matInput formControlName="formTotalViajes" [(ngModel)]="costosFijos.totalViajes" />
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>


       
        <!----------------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="bg-light-gray" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active p-2 mr-2" style="border-width: 3px 3px; background-color: lightgray; border: lightgray">Gastos</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center">
                <div (click)="agregarGasto()" class="p-2 addRow">
                    <mat-icon style="color: white; vertical-align: middle;">add</mat-icon>
                </div>
            </div>
        </div>
        <div class="p-2">
            <ng-container *ngIf="costosFijos.gastos.length > 0">
                <div *ngFor="let c of costosFijos.gastos; let i = index;">
                    <div fxLayout="row" fxLayoutAlign="">
                        <div fxLayout="column" fxFlex="35%">
                            <mat-form-field class="mr-3">
                                <mat-label>Descripción</mat-label>
                                <input matInput [formControl]="getControl(i, 'descripcion')" [(ngModel)]="c.descripcion" />
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxFlex="20%">
                            <mat-form-field class="mr-3">
                                <mat-label>Total</mat-label>
                                <input matInput [formControl]="getControl(i, 'total')" [(ngModel)]="c.total" (ngModelChange)="seleccionaFactor(i)"/>
                            </mat-form-field>
                        </div>

                        <div fxLayout="column" fxFlex="20%">
                            <mat-form-field class="mr-3">
                                <mat-label>Tipo de Factor</mat-label>
                                <mat-select [formControl]="getControl(i, 'idTipoFactor')" [(ngModel)]="c.idTipoFactor" >
                                    <mat-option *ngFor="let e2 of tiposFactores" [value]="e2.id">
                                        {{e2.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div fxLayout="column" fxFlex="10%">
                            <mat-form-field class="mr-3">
                                <mat-label>Factor por KMS</mat-label>
                                <input matInput [formControl]="getControl(i, 'factorKms')" [(ngModel)]="c.factorKms" />
                            </mat-form-field>
                        </div>

                        <div fxLayout="column" fxFlex="10%">
                            <mat-form-field class="mr-3">
                                <mat-label>Factor por Viaje</mat-label>
                                <input matInput [formControl]="getControl(i, 'factorViaje')" [(ngModel)]="c.factorViaje" />
                            </mat-form-field>
                        </div>

                        <div fxLayout="column" fxFlex="5%">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div (click)="eliminaGasto(i)" class="p-2 deleteRow">
                                    <mat-icon style="color: white; vertical-align: middle;">delete</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </ng-container>
        </div>
        <div class="p-2">

        </div>
    </div>
    <div style="text-align: center; margin-top: 2%;">
        <button (click)="guardar()" class="btn-listado" style="background-color: green;">Guardar</button>
    </div>
    <div>
        <div class="p-2">

        </div>
    </div>
</div>