<section class="container-fluid with-maxwidth chapter">
    <article class="article" style="padding-bottom: 0px;">
        <div class="box box-default">
            <div class="box-body">
                <h2 style="text-align: center;">{{data.mensaje}}</h2>
                <div style="margin: auto; text-align: center; margin-top: 5%;">
                    <button class="btn-listado" style="background-color: green;"
                            (click)="cerrarModal(true)">
                        Si
                    </button>
                    <button class="btn-listado" style="background-color: gray;"
                            (click)="cerrarModal(false)">
                        No
                    </button>
                </div>
            </div>
        </div>
    </article>
</section>