::ng-deep.bg-blue .mat-form-field-flex {
    background-color: #0597d6;
}

::ng-deep.bg-blue .mat-select-value-text {
    color: white;
}

::ng-deep.bg-blue .mat-select-arrow {
    color: white !important;
}
