<div class="content">
    <div fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-dark-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active pointer p-2 mr-2">Convenio</div>
            </div>
        </div>
    </div>
    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="p-2">
            <h2 style="color: gray;">Encabezado</h2>
            <form [formGroup]="formEncabezado" autocomplete="off">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="50%">
                        <div>
                            <ng-container>
                                <ng-select fxFlex="94%" placeholder="Cliente" formControlName="formCliente">
                                    <ng-option *ngFor="let c of clientes" [value]="c.id">
                                        {{c.descripcion}}
                                    </ng-option>
                                </ng-select>
                            </ng-container>

                            <div class="mr-3" fxFlex="6%" style="font-size: 18px; height: 39px; text-align: center; background-color: #ffce55; margin-top: 12px;">
                                <mat-icon style="vertical-align: -webkit-baseline-middle; color: white;">add</mat-icon>
                            </div>
                        </div>

                        <div style="padding-top: 12px;">
                            <mat-form-field fxFlex="94%">
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="formNombre">
                            </mat-form-field>
                            <div class="mr-3" fxFlex="6%" style="font-size: 18px; height: 39px; text-align: center; background-color: #ffce55;">
                                <mat-icon style="vertical-align: -webkit-baseline-middle; color: white;">bookmark</mat-icon>
                            </div>
                        </div>

                        <div>
                            <ng-container>
                                <ng-select fxFlex="94%" placeholder="Remitente" formControlName="formRemitente">
                                    <ng-option *ngFor="let cr of clientes" [value]="cr.id">
                                        {{cr.descripcion}}
                                    </ng-option>
                                </ng-select>
                            </ng-container>

                            <div class="mr-3" fxFlex="6%" style="font-size: 18px; height: 39px; text-align: center; background-color: #ffce55; margin-top: 12px;">
                                <mat-icon style="vertical-align: -webkit-baseline-middle; color: white;">add</mat-icon>
                            </div>
                        </div>

                        <div>
                            <ng-container>
                                <ng-select fxFlex="94%" placeholder="Destinatario" formControlName="formDestinatario">
                                    <ng-option *ngFor="let cd of clientes" [value]="cd.id">
                                        {{cd.descripcion}}
                                    </ng-option>
                                </ng-select>
                            </ng-container>

                            <div class="mr-3" fxFlex="6%" style="font-size: 18px; height: 39px; text-align: center; background-color: #ffce55; margin-top: 12px;">
                                <mat-icon style="vertical-align: -webkit-baseline-middle; color: white;">add</mat-icon>
                            </div>
                        </div>

                        <div>
                            <div fxFlex="50%">
                                <ng-container>
                                    <ng-select fxFlex="90%" placeholder="Ruta" formControlName="formRuta">
                                        <ng-option *ngFor="let r of rutas" [value]="r.id">
                                            {{r.descripcion}}
                                        </ng-option>
                                    </ng-select>
                                </ng-container>

                                <div class="mr-3" fxFlex="10%" style="font-size: 18px; height: 39px; text-align: center; background-color: #ffce55; margin-top: 12px;">
                                    <mat-icon style="vertical-align: -webkit-baseline-middle; color: white;">add</mat-icon>
                                </div>
                            </div>

                            <mat-form-field class="mr-3" fxFlex="50%" style="padding-top: 12px;">
                                <mat-label>Kms</mat-label>
                                <input matInput formControlName="formKms">
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3" style="padding-top: 12px;">
                            <mat-label>Folio</mat-label>
                            <input matInput formControlName="formFolio">
                        </mat-form-field>

                        <ng-container>
                            <ng-select class="mr-3" placeholder="Areas" formControlName="formAreas">
                                <ng-option *ngFor="let a of areas" [value]="a.id">
                                    {{a.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <ng-container>
                            <ng-select class="mr-3" placeholder="Empresa" formControlName="formEmpresa">
                                <ng-option *ngFor="let e of empresas" [value]="e.id">
                                    {{e.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <div>
                            <ng-container>
                                <ng-select fxFlex="94%" placeholder="Tipo de vehículo" formControlName="formTipoVehiculo">
                                    <ng-option *ngFor="let tv of tiposVehiculo" [value]="tv.id">
                                        {{tv.descripcion}}
                                    </ng-option>
                                </ng-select>
                            </ng-container>

                            <div class="mr-3" fxFlex="6%" style="font-size: 18px; height: 39px; text-align: center; background-color: #ffce55; margin-top: 12px;">
                                <mat-icon style="vertical-align: -webkit-baseline-middle; color: white;">add</mat-icon>
                            </div>
                        </div>

                        <div style="padding-top: 12px;">
                            <mat-form-field class="mr-3 bg-blue" fxFlex="50%">
                                <mat-label style="color: white;">Moneda</mat-label>
                                <mat-select formControlName="formMoneda">
                                    <mat-option *ngFor="let m of monedas" [value]="m.id">
                                        {{m.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="mr-3" fxFlex="50%">
                                <mat-label>Tipo de cambio</mat-label>
                                <input matInput formControlName="formTipoCambio">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="p-2">
            <h2 style="color: gray;">Operación</h2>
            <form [formGroup]="formOperacion" autocomplete="off">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="50%">
                        <ng-container>
                            <ng-select class="mr-3" placeholder="Tipo de operación" formControlName="formTipoOperacion">
                                <ng-option *ngFor="let to of tiposOperacion" [value]="to.id">
                                    {{to.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <ng-container>
                            <ng-select class="mr-3" placeholder="Origen" formControlName="formOrigen">
                                <ng-option *ngFor="let po of plazas" [value]="po.id">
                                    {{po.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <ng-container>
                            <ng-select class="mr-3" placeholder="Destino" formControlName="formDestino">
                                <ng-option *ngFor="let pd of plazas" [value]="pd.id">
                                    {{pd.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>
                    </div>
                    <div fxLayout="column" fxFlex="50%">
                        <ng-container>
                            <ng-select class="mr-3" placeholder="Tipo de servicio" formControlName="formTipoServicio">
                                <ng-option *ngFor="let ts of tiposServicios" [value]="ts.id">
                                    {{ts.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <mat-form-field class="mr-3" style="padding-top: 12px;">
                            <mat-label>Valor declarado</mat-label>
                            <input matInput formControlName="formValor">
                        </mat-form-field>

                        <div>
                            <ng-container>
                                <ng-select fxFlex="50%" class="mr-3" placeholder="Tipo de cobro" formControlName="formTipoCobro">
                                    <ng-option *ngFor="let tc of tiposCobro" [value]="tc.id">
                                        {{tc.descripcion}}
                                    </ng-option>
                                </ng-select>
                            </ng-container>

                            <ng-container>
                                <ng-select fxFlex="50%" class="mr-3" placeholder="Tipo de pago" formControlName="formTipoPago">
                                    <ng-option *ngFor="let tp of tiposPago" [value]="tp.id">
                                        {{tp.descripcion}}
                                    </ng-option>
                                </ng-select>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="p-2">
            <form [formGroup]="formControl" autocomplete="off">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="50%">
                        <h2 style="color: gray;">Recoger en:</h2>
                        <mat-form-field class="mr-3">
                            <textarea matInput rows="5" formControlName="formRecoger"></textarea>
                        </mat-form-field>
                        <div style="display: flex;">
                            <mat-slide-toggle labelPosition="before" style="width: 50%; padding-top: 12px;" formControlName="formPago">Controlar pago:</mat-slide-toggle>
                            <mat-form-field class="mr-3" style="width: 50%;">
                                <mat-label>Operador</mat-label>
                                <input matInput formControlName="formOperador" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="column" fxFlex="50%">
                        <h2 style="color: gray;">Entregar en:</h2>
                        <mat-form-field class="mr-3">
                            <textarea matInput rows="5" formControlName="formEntregar"></textarea>
                        </mat-form-field>

                        <mat-form-field class="mr-3" style="width: 50%;">
                            <mat-label>Permisionario</mat-label>
                            <input matInput formControlName="formPermisionario" />
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-light-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="p-2 mr-2" style="color: white; font-size: 18px; border: solid #0597d6;">Segmentos</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="p-2" style="background-color: #ffce55; font-size: 18pt; cursor: pointer;"
                     (click)="agregarSegmento()">
                    <mat-icon style="color: white; vertical-align: middle;">add</mat-icon>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div *ngFor="let s of listaSegmentos; let i = index;">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="33%">
                        <ng-container>
                            <ng-select fxFlex="33%" class="mr-3" placeholder="Direccion" [formControl]="getControlSegmento(i, 'direccion')">
                                <ng-option *ngFor="let dp of plazas" [value]="dp.id">
                                    {{dp.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>
                    </div>
                    <div fxLayout="column" fxFlex="33%" style="padding-top: 12px">
                        <mat-form-field class="mr-3">
                            <mat-label>Tipo de parada</mat-label>
                            <mat-select [formControl]="getControlSegmento(i, 'tipoParada')">
                                <mat-option *ngFor="let tp of tiposParada" [value]="tp.id">
                                    {{tp.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxFlex="33%" style="padding-top: 12px">
                        <mat-form-field class="mr-3">
                            <mat-label>Movimiento</mat-label>
                            <mat-select [formControl]="getControlSegmento(i, 'movimiento')">
                                <mat-option *ngFor="let tm of tiposMovimiento" [value]="tm.id">
                                    {{tm.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="mt-3" fxLayout="column" fxLayoutAlign="stretch" style="border: 1px solid #dadada;">
        <div fxLayout="row" fxLayoutAlign="space-between end" style="border-bottom: 1px solid #dadada;">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="p-2 mr-2" style="color: gray; font-size: 18px; border: solid white;">Productos</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="p-2" style="background-color: #ffce55; font-size: 18pt; cursor: pointer;">
                    <mat-icon style="color: white; vertical-align: middle;" (click)="agregarProducto()">add</mat-icon>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div *ngFor="let lp of listaProductos; let i = index;">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="25%">
                        <mat-form-field class="mr-3" style="padding-top: 12px;">
                            <mat-label>Producto</mat-label>
                            <input matInput [formControl]="getControlProducto(i, 'producto')" />
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Peso</mat-label>
                            <input matInput [formControl]="getControlProducto(i, 'peso')" />
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="25%">
                        <ng-container>
                            <ng-select class="mr-3" placeholder="Descripcion" [formControl]="getControlProducto(i, 'descripcion')"
                                       (change)="seleccionarProducto(i)">
                                <ng-option *ngFor="let p of productos" [value]="p.id">
                                    {{p.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <mat-form-field class="mr-3">
                            <mat-label>Volumen</mat-label>
                            <input matInput [formControl]="getControlProducto(i, 'volumen')" />
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="25%">
                        <mat-form-field class="mr-3" style="padding-top: 12px;">
                            <mat-label>Embalaje</mat-label>
                            <input matInput [formControl]="getControlProducto(i, 'embalaje')" />
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Peso estimado</mat-label>
                            <input matInput [formControl]="getControlProducto(i, 'pesoEstimado')" />
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="25%">
                        <mat-form-field class="mr-3" style="padding-top: 12px;">
                            <mat-label>Cantidad</mat-label>
                            <input matInput [formControl]="getControlProducto(i, 'cantidad')" />
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Importe</mat-label>
                            <input matInput [formControl]="getControlProducto(i, 'importe')" />
                        </mat-form-field>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>
        </div>
    </div>
    <div class="mt-3" fxLayout="column" fxLayoutAlign="stretch" style="border: 1px solid #dadada;">
        <div fxLayout="row" fxLayoutAlign="space-between end" style="border-bottom: 1px solid #dadada;">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="p-2 mr-2" style="color: gray; font-size: 18px; border: solid white;">Otros conceptos</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="p-2" style="background-color: #ffce55; font-size: 18pt; cursor: pointer;">
                    <mat-icon style="color: white; vertical-align: middle;">add</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3" fxLayout="column" fxLayoutAlign="stretch" style="border: 1px solid #dadada;">
        <div class="bg-light-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="p-2 mr-2" style="color: white; font-size: 18px; border: solid #0597d6;">Cobro</div>
            </div>
        </div>
        <div class="p-2">
            <form [formGroup]="formCobro" autocomplete="off">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="20%">
                        <mat-form-field class="mr-3">
                            <mat-label>Flete</mat-label>
                            <input matInput formControlName="formFlete" />
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>subtotal</mat-label>
                            <input matInput formControlName="formSubtotal" />
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="20%">
                        <mat-form-field class="mr-3">
                            <mat-label>Seguro</mat-label>
                            <input matInput formControlName="formSeguro" />
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>IVA</mat-label>
                            <mat-select formControlName="formIva">
                                <mat-option *ngFor="let iv of ivas" [value]="iv.id">
                                    {{iv.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="20%">
                        <mat-form-field class="mr-3">
                            <mat-label>Maniobras</mat-label>
                            <input matInput formControlName="formManiobras" />
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Retencion</mat-label>
                            <mat-select formControlName="formRetencion">
                                <mat-option *ngFor="let re of retenciones" [value]="re.id">
                                    {{re.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="20%">
                        <mat-form-field class="mr-3">
                            <mat-label>Autopistas</mat-label>
                            <input matInput formControlName="formAutopistas" />
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Total</mat-label>
                            <input matInput formControlName="formTotal" />
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="20%">
                        <mat-form-field fxFlex="20%" class="mr-3">
                            <mat-label>Otros</mat-label>
                            <input matInput formControlName="formOtros" />
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div style="text-align: center; margin-top: 3%;">
        <button (click)="guardar()" class="btn-listado" style="background-color: green;">Guardar</button>
        <button (click)="regresar()" class="btn-listado" style="background-color: gray;">Cerrar</button>
        <button class="btn-listado" style="background-color: #3c88d4;">Nuevo</button>
    </div>

</div>
