<div class="content">
    <div class="pt-1" fxLayout="column" fxLayoutAlign="stretch">
        <div class="section-header p-2" fxFlex="100" fxLayout="row" fxLayout.xs="column">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="80" fxFlex.xs="100">
                <p>Datos generales</p>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="column" fxLayoutAlign="stretch">
        <div class="p-2">
            <form [formGroup]="formPlazas" autocomplete="off">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3" style="width: 24%;">
                            <mat-label>N° Plaza</mat-label>
                            <input matInput formControlName="formNoPlaza" [(ngModel)]="plaza.idPlaza">
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="formNombre" [(ngModel)]="plaza.nombre">
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Dirección</mat-label>
                            <input matInput formControlName="formDireccion" [(ngModel)]="plaza.direccion">
                        </mat-form-field>

                        <div style="padding-top: 12px;">
                            <mat-form-field class="mr-3" fxFlex="50%">
                                <mat-label>Latitud</mat-label>
                                <input matInput formControlName="formLatitud" [(ngModel)]="plaza.posLat" (blur)="setMapView()">
                            </mat-form-field>

                            <mat-form-field class="mr-3" fxFlex="50%">
                                <mat-label>Longitud</mat-label>
                                <input matInput formControlName="formLongitud" [(ngModel)]="plaza.posLon" (blur)="setMapView()">
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>País</mat-label>
                            <mat-select formControlName="formPais" [(ngModel)]="plaza.idPais" (ngModelChange)="consultarEstados()">
                                <mat-option *ngFor="let p of paises" [value]="p.id">
                                    {{p.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Estado</mat-label>
                            <mat-select formControlName="formEstado" [(ngModel)]="plaza.idEstado">
                                <mat-option *ngFor="let edo of estados" [value]="edo.id">
                                    {{edo.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Estatus</mat-label>
                            <mat-select formControlName="formEstatus" [(ngModel)]="plaza.estatus">
                                <mat-option *ngFor="let es of estatus" [value]="es.id">
                                    {{es.estatus}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <ng-container>
                            <ng-select class="mr-3" formControlName="formTarifa" [(ngModel)]="plaza.idCombustibleTarifa" placeholder="Tarifa">
                                <ng-option *ngFor="let ta of tarifas" [value]="ta.id">
                                    {{ta.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>
                    </div>
                </div>
            </form>
            <div class="mr-3" style="height: 300px;">
                <div id="leaflet-map" style="height: 100%;"></div>
            </div>
            <div style="text-align: center; margin-top: 2%;">
                <button (click)="regresar()" class="btn-listado" style="background-color: gray;">Regresar</button>
                <button *ngIf="!isSistemaOrigen" (click)="nuevo()" class="btn-listado" style="background-color: #3c88d4;">Nuevo</button>
                <button (click)="guardar()" class="btn-listado" style="background-color: green;">Guardar</button>
            </div>
        </div>
    </div>
</div>
