::ng-deep.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

.noOrigen {
    background-color: #ffce55;
    font-size: 18pt;
    cursor: pointer;
}

.esOrigen {
    background-color: #cacaca;
    font-size: 18pt;
    cursor: default;
}
