<div class="content">
    <div class="pt-1" fxLayout="column" fxLayoutAlign="stretch">
        <div class="section-header p-2" fxFlex="100" fxLayout="row" fxLayout.xs="column">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="80" fxFlex.xs="100">
                <p>Datos generales</p>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="column" fxLayoutAlign="stretch">
        <div class="p-2">
            <form [formGroup]="formRutas" autocomplete="off">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3" style="width: 24%;">
                            <mat-label>N° Ruta</mat-label>
                            <input matInput formControlName="formNoRuta" [(ngModel)]="ruta.idRuta">
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="formNombre" [(ngModel)]="ruta.nombre">
                        </mat-form-field>

                        <ng-container>
                            <ng-select class="mr-3" formControlName="formOrigen" [(ngModel)]="ruta.idPlazaOrigen" placeholder="Origen"
                                       (ngModelChange)="setMapView()">
                                <ng-option *ngFor="let po of plazas" [value]="po.id">
                                    {{po.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <ng-container>
                            <ng-select class="mr-3" formControlName="formDestino" [(ngModel)]="ruta.idPlazaDestino" placeholder="Destino"
                                       (ngModelChange)="setMapView()">
                                <ng-option *ngFor="let pd of plazas" [value]="pd.id">
                                    {{pd.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <mat-form-field class="mr-3">
                            <mat-label>Tipo de ruta</mat-label>
                            <mat-select formControlName="formTipoRuta" [(ngModel)]="ruta.idRutaTipo">
                                <mat-option *ngFor="let tr of tiposRuta" [value]="tr.id">
                                    {{tr.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>Total de Kms</mat-label>
                            <input matInput formControlName="formKms" [(ngModel)]="ruta.kms">
                        </mat-form-field>

                        <mat-form-field class="mr-3" style="height: 69px;">
                            <mat-label>Tipo vehículo</mat-label>
                            <mat-select formControlName="formTipoVehiculo" [(ngModel)]="ruta.idRutaTipoVehiculo">
                                <mat-option *ngFor="let tv of tiposVehiculo" [value]="tv.id">
                                    {{tv.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mr-3" style="height: 69px;">
                            <mat-label>Número de ejes</mat-label>
                            <mat-select formControlName="formEjes" [(ngModel)]="ruta.idVehiculoEje">
                                <mat-option *ngFor="let ej of ejes" [value]="ej.id">
                                    {{ej.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Condiciones de origen</mat-label>
                            <mat-select formControlName="formCondiciones" [(ngModel)]="ruta.idRutaCondicionOrigen">
                                <mat-option *ngFor="let co of condiciones" [value]="co.id">
                                    {{co.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Estatus</mat-label>
                            <mat-select formControlName="formEstatus" [(ngModel)]="ruta.estatus">
                                <mat-option *ngFor="let es of estatus" [value]="es.id">
                                    {{es.estatus}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-dark-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active p-2 mr-2" style="border-width: 3px 3px;">Segmentos</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center">
                <div (click)="isSistemaOrigen || agregarSegmento()" class="p-2" [ngClass]="isSistemaOrigen?'esOrigen':'noOrigen'">
                    <mat-icon style="color: white; vertical-align: middle;">add</mat-icon>
                </div>
            </div>
        </div>

        <div class="p-2">
            <div *ngFor="let s of ruta.segmentos; let i = index;">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="33%">
                        <mat-form-field class="mr-3" fxFlex="50%">
                            <mat-label>Direccion</mat-label>
                            <input matInput [formControl]="getControl(i, 'direccion')" [(ngModel)]="s.direccionSegmento">
                        </mat-form-field>

                        <mat-form-field class="mr-3" fxFlex="50%">
                            <mat-label>Latitud</mat-label>
                            <input matInput [formControl]="getControl(i, 'latitud')" [(ngModel)]="s.posLat" (ngModelChange)="setMapView()">
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxFlex="33%">
                        <mat-form-field class="mr-3">
                            <mat-label>Tipo de parada</mat-label>
                            <mat-select [formControl]="getControl(i, 'tipoParada')" [(ngModel)]="s.idRutaTipoParada">
                                <mat-option *ngFor="let tp of tiposParada" [value]="tp.id">
                                    {{tp.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mr-3" fxFlex="50%">
                            <mat-label>Longitud</mat-label>
                            <input matInput [formControl]="getControl(i, 'longitud')" [(ngModel)]="s.posLon" (ngModelChange)="setMapView()">
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxFlex="33%">
                        <mat-form-field class="mr-3">
                            <mat-label>Movimiento</mat-label>
                            <mat-select [formControl]="getControl(i, 'movimiento')" [(ngModel)]="s.idRutaMovimiento">
                                <mat-option *ngFor="let tm of tiposMovimiento" [value]="tm.id">
                                    {{tm.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="mr-3" style="height: 300px;">
                <div id="leaflet-map" style="height: 100%;"></div>
            </div>
            <div style="text-align: center; margin-top: 2%;">
                <button (click)="regresar()" class="btn-listado" style="background-color: gray;">Regresar</button>
                <button *ngIf="!isSistemaOrigen" (click)="nuevo()" class="btn-listado" style="background-color: #3c88d4;">Nuevo</button>
                <button *ngIf="!isSistemaOrigen" (click)="guardar()" class="btn-listado" style="background-color: green;">Guardar</button>
            </div>
        </div>
    </div>
</div>
