<div class="content">
    <div class="pt-1" fxLayout="column" fxLayoutAlign="stretch">
        <div class="section-header p-2" fxFlex="100" fxLayout="row" fxLayout.xs="column">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="80" fxFlex.xs="100">
                <p>Configuración Costos Variables</p>
            </div>
        </div>
    </div>
    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-light-gray" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active p-2 mr-2" style="border-width: 3px 3px; background-color: lightgray; border: lightgray">Combustible</div>
            </div>
        </div>
        <div class="p-2">
            <div fxLayout="row" fxLayoutAlign="">
                <div fxLayout="column" fxFlex="25%">
                    <mat-checkbox [labelPosition]="'after'" style="height: 40px; padding-top: 15px;"
                                  [(ngModel)]="configuracion.combustible_chk_automatico" (change)="validateOptions($event, 'combustible_chk_automatico')">
                        Cálculo automático
                    </mat-checkbox>

                    <mat-checkbox [labelPosition]="'after'" style="height: 40px; padding-top: 15px;"
                                  [(ngModel)]="configuracion.combustible_chk_tarifa" (change)="validateOptions($event, 'combustible_chk_tarifa')">
                        Cálculo por Tarifa
                    </mat-checkbox>
                </div>

                <div fxLayout="column" fxFlex="25%">
                    <mat-checkbox [labelPosition]="'after'" style="height: 40px; padding-top: 15px;"
                                  [(ngModel)]="configuracion.combustible_chk_historico" (change)="validateOptions($event, 'combustible_chk_historico')">
                        Análisis histórico ZAM
                    </mat-checkbox>

                    <mat-checkbox [labelPosition]="'after'" style="height: 40px; padding-top: 15px;"
                                  [(ngModel)]="configuracion.combustible_chk_manual" (change)="validateOptions($event, 'combustible_chk_manual')">
                        Captura manual
                    </mat-checkbox>
                </div>

                <form *ngIf="camposCombustibleVisibles" autocomplete="off">
                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>Tipo de costo</mat-label>
                            <mat-select [(ngModel)]="configuracion.combustible_IdCostoTipo" [ngModelOptions]="{standalone: true}">
                                <mat-option *ngFor="let c1 of costos" [value]="c1.id">
                                    {{c1.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>$ Factor</mat-label>
                            <input matInput [(ngModel)]="configuracion.combustible_factor" [ngModelOptions]="{standalone: true}" />
                        </mat-form-field>
                    </div>
                </form>

                
            </div>
        </div>
        <!----------------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="bg-light-gray" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active p-2 mr-2" style="border-width: 3px 3px; background-color: lightgray; border: lightgray">Casetas</div>
            </div>
        </div>
        <div class="p-2">
            <div fxLayout="row" fxLayoutAlign="">
                <div fxLayout="column" fxFlex="25%">
                    <mat-checkbox [labelPosition]="'after'" style="height: 40px; padding-top: 15px;"
                                  [(ngModel)]="configuracion.caseta_chk_automatico" (change)="validateOptions($event, 'caseta_chk_automatico')">
                        Cálculo automático
                    </mat-checkbox>

                    <mat-checkbox [labelPosition]="'after'" style="height: 40px; padding-top: 15px;"
                                  [(ngModel)]="configuracion.caseta_chk_archivo" (change)="validateOptions($event, 'caseta_chk_archivo')">
                        Costo de Rutas ZAM
                    </mat-checkbox>
                </div>

                <div fxLayout="column" fxFlex="25%">
                    <mat-checkbox [labelPosition]="'after'" style="height: 40px; padding-top: 15px;"
                                  [(ngModel)]="configuracion.caseta_chk_historico" (change)="validateOptions($event, 'caseta_chk_historico')">
                        Análisis histórico ZAM
                    </mat-checkbox>

                    <mat-checkbox [labelPosition]="'after'" style="height: 40px; padding-top: 15px;"
                                  [(ngModel)]="configuracion.caseta_chk_manual" (change)="validateOptions($event, 'caseta_chk_manual')">
                        Captura manual
                    </mat-checkbox>
                </div>

                <form *ngIf="camposCasetasVisibles" autocomplete="off">
                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>Tipo de costo</mat-label>
                            <mat-select [(ngModel)]="configuracion.caseta_IdCostoTipo" [ngModelOptions]="{standalone: true}">
                                <mat-option *ngFor="let c2 of costos" [value]="c2.id">
                                    {{c2.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>$ Factor</mat-label>
                            <input matInput [(ngModel)]="configuracion.caseta_factor" [ngModelOptions]="{standalone: true}"/>
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </div>

        <!----------------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="bg-light-gray" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active p-2 mr-2" style="border-width: 3px 3px; background-color: lightgray; border: lightgray">Sueldos</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center">
                <div (click)="agregarSueldo()" class="p-2 addRow">
                    <mat-icon style="color: white; vertical-align: middle;">add</mat-icon>
                </div>
            </div>
        </div>
        <div class="p-2">
            <ng-container *ngIf="listadoSueldos.length > 0">
                <div *ngFor="let c of listadoSueldos; let i = index;">
                    <div fxLayout="row" fxLayoutAlign="">
                        <div fxLayout="column" fxFlex="24%">
                            <mat-form-field class="mr-3">
                                <mat-label>Tipo de Unidad</mat-label>
                                <mat-select [formControl]="getControl(i, 'tipoUnidad')" [(ngModel)]="c.tipoUnidad">
                                    <mat-option *ngFor="let e2 of tipoUnidad" [value]="e2.id">
                                        {{e2.tipoUnidad}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxFlex="24%">
                            <mat-form-field class="mr-3">
                                <mat-label>Rango Inicio KMS</mat-label>
                                <input matInput [formControl]="getControl(i, 'rangoInicio')" [(ngModel)]="c.rangoInicio" />
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxFlex="24%">
                            <mat-form-field class="mr-3">
                                <mat-label>Rango Fin KMS</mat-label>
                                <input matInput [formControl]="getControl(i, 'rangoFin')" [(ngModel)]="c.rangoFin" />
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxFlex="24%">
                            <mat-form-field class="mr-3">
                                <mat-label>Factor</mat-label>
                                <input matInput [formControl]="getControl(i, 'factor')" [(ngModel)]="c.factor" />
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxFlex="4%">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div (click)="eliminaSueldo(i)" class="p-2 deleteRow">
                                    <mat-icon style="color: white; vertical-align: middle;">delete</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </ng-container>


            <div fxLayout="row" fxLayoutAlign="" *ngIf="camposOcultos">
                <div fxLayout="column" fxFlex="25%">
                    <mat-checkbox [labelPosition]="'after'" style="height: 40px; padding-top: 15px;"
                                  [(ngModel)]="configuracion.sueldo_chk_historico" (change)="validateOptions($event, 'sueldo_chk_historico')">
                        Análisis histórico ZAM
                    </mat-checkbox>
                </div>

                <div fxLayout="column" fxFlex="25%">
                    <mat-checkbox [labelPosition]="'after'" style="height: 40px; padding-top: 15px;"
                                  [(ngModel)]="configuracion.sueldo_chk_manual" (change)="validateOptions($event, 'sueldo_chk_manual')">
                        Captura manual
                    </mat-checkbox>
                </div>

                <form *ngIf="camposSueldosVisibles" autocomplete="off">
                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>Tipo de costo</mat-label>
                            <mat-select [(ngModel)]="configuracion.sueldo_IdCostoTipo" [ngModelOptions]="{standalone: true}">
                                <mat-option *ngFor="let c3 of costos" [value]="c3.id">
                                    {{c3.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>$ Factor</mat-label>
                            <input matInput [(ngModel)]="configuracion.sueldo_factor" [ngModelOptions]="{standalone: true}" />
                        </mat-form-field>
                    </div>
                </form>


            </div>
        </div>
    </div>
    <div style="text-align: center; margin-top: 2%;">
        <button (click)="guardar()" class="btn-listado" style="background-color: green;">Guardar</button>
    </div>
</div>