<div class="content">
    <div class="pt-1" fxLayout="column" fxLayoutAlign="stretch">
        <div class="section-header p-2" fxFlex="100" fxLayout="row" fxLayout.xs="column">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="80" fxFlex.xs="100">
                <p>Datos generales</p>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="column" fxLayoutAlign="stretch">
        <div class="p-2">
            <form [formGroup]="formClientes" autocomplete="off">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3" style="width: 48%; height: 69px;">
                            <mat-label>N° Cliente</mat-label>
                            <input matInput formControlName="formNoCliente" [(ngModel)]="cliente.idCliente">
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="formNombre" [(ngModel)]="cliente.nombre">
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Domicilio</mat-label>
                            <input matInput formControlName="formDomicilio" [(ngModel)]="cliente.direccion">
                        </mat-form-field>

                        <div>
                            <mat-form-field class="mr-3" fxFlex="50%">
                                <mat-label>Telefono</mat-label>
                                <input matInput formControlName="formTelefono" maxlength="10" [(ngModel)]="cliente.telefono">
                            </mat-form-field>

                            <mat-form-field class="mr-3" fxFlex="50%">
                                <mat-label>Movil</mat-label>
                                <input matInput formControlName="formMovil" maxlength="10" [(ngModel)]="cliente.movil">
                            </mat-form-field>
                        </div>

                        <mat-form-field class="mr-3">
                            <mat-label>Contacto Principal</mat-label>
                            <input matInput formControlName="formContacto" [(ngModel)]="cliente.contacto">
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Observaciones</mat-label>
                            <textarea matInput rows="5" formControlName="formObservaciones" maxlength="250" [(ngModel)]="cliente.observaciones"></textarea>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="50%">
                        <ng-container>
                            <ng-select class="mr-3" formControlName="formPlaza" [(ngModel)]="cliente.idPlaza" placeholder="Plaza">
                                <ng-option *ngFor="let p of plazas" [value]="p.id">
                                    {{p.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <mat-form-field class="mr-3">
                            <mat-label>RFC</mat-label>
                            <input matInput formControlName="formRfc" [(ngModel)]="cliente.rfc">
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="formTipo" [(ngModel)]="cliente.idClienteTipo">
                                <mat-option *ngFor="let tc of tiposCliente" [value]="tc.id">
                                    {{tc.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div>
                            <mat-form-field class="mr-3" fxFlex="50%">
                                <mat-label>Alias</mat-label>
                                <input matInput formControlName="formAlias" [(ngModel)]="cliente.aliasCliente" />
                            </mat-form-field>

                            <mat-form-field class="mr-3" fxFlex="50%">
                                <mat-label>Estatus</mat-label>
                                <mat-select formControlName="formEstatus" [(ngModel)]="cliente.estatus">
                                    <mat-option *ngFor="let e of estatus" [value]="e.id">
                                        {{e.estatus}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <mat-form-field class="mr-3">
                            <mat-label>Correo Electronico</mat-label>
                            <input matInput formControlName="formCorreo" [(ngModel)]="cliente.correo">
                        </mat-form-field>

                        <div>
                            <mat-form-field class="mr-3" fxFlex="50%">
                                <mat-label>Latitud</mat-label>
                                <input matInput formControlName="formLat" [(ngModel)]="cliente.posLat" (blur)="setMapView()" />
                            </mat-form-field>

                            <mat-form-field class="mr-3" fxFlex="50%">
                                <mat-label>Longitud</mat-label>
                                <input matInput formControlName="formLon" [(ngModel)]="cliente.posLon" (blur)="setMapView()" />
                            </mat-form-field>
                        </div>

                        <div class="mr-3" style="height: 200px;">
                            Geolocalización
                            <div id="leaflet-map" style="height: 100%;"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-dark-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active p-2 mr-2" style="border-width: 3px 3px;">Agregar Contactos</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center">
                <div (click)="agregarContacto()" class="p-2 noOrigen">
                    <mat-icon style="color: white; vertical-align: middle;">add</mat-icon>
                </div>
            </div>
        </div>

        <div class="p-2">
            <ng-container *ngIf="cliente.contactos.length > 0">
                <div *ngFor="let c of cliente.contactos; let i = index;">
                    <div fxLayout="row" fxLayoutAlign="">
                        <div fxLayout="column" fxFlex="50%">
                            <mat-form-field class="mr-3">
                                <mat-label>Departamento</mat-label>
                                <input matInput [formControl]="getControl(i, 'departamento')" [(ngModel)]="c.departamento" />
                            </mat-form-field>

                            <mat-form-field class="mr-3">
                                <mat-label>Puesto</mat-label>
                                <input matInput [formControl]="getControl(i, 'puesto')" [(ngModel)]="c.puesto" />
                            </mat-form-field>

                            <div>
                                <mat-form-field class="mr-3" fxFlex="50%">
                                    <mat-label>Telefono</mat-label>
                                    <input matInput [formControl]="getControl(i, 'telefono')" [(ngModel)]="c.telefono">
                                </mat-form-field>

                                <mat-form-field class="mr-3" fxFlex="50%">
                                    <mat-label>Movil</mat-label>
                                    <input matInput [formControl]="getControl(i, 'movil')" [(ngModel)]="c.movil">
                                </mat-form-field>
                            </div>

                            <mat-form-field class="mr-3">
                                <mat-label>Estatus</mat-label>
                                <mat-select [formControl]="getControl(i, 'estatus')" [(ngModel)]="c.estatus">
                                    <mat-option *ngFor="let e2 of estatus" [value]="e2.id">
                                        {{e2.estatus}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div fxLayout="column" fxFlex="50%">
                            <mat-form-field class="mr-3">
                                <mat-label>Nombre</mat-label>
                                <input matInput [formControl]="getControl(i, 'nombre')" [(ngModel)]="c.nombre">
                            </mat-form-field>

                            <mat-form-field class="mr-3">
                                <mat-label>Correo Electronico</mat-label>
                                <input matInput [formControl]="getControl(i, 'correo')" [(ngModel)]="c.correo">
                            </mat-form-field>

                            <mat-form-field class="mr-3">
                                <mat-label>Nota</mat-label>
                                <input matInput [formControl]="getControl(i, 'nota')" maxlength="25" [(ngModel)]="c.nota">
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </ng-container>
            
            <div style="text-align: center; margin-top: 3%;">
                <button (click)="regresar()" class="btn-listado" style="background-color: gray;">Regresar</button>
                <button *ngIf="!isSistemaOrigen" (click)="nuevo()" class="btn-listado" style="background-color: #3c88d4;">Nuevo</button>
                <button (click)="guardar()" class="btn-listado" style="background-color: green;">Guardar</button>
            </div>
        </div>
    </div>
</div>
