<div>
    <div class="p-2">
        <div style="margin-bottom: 1%;">
            <h3 style="display: inline">Aumentar vigencia</h3>
            <mat-icon style="float: right; cursor: pointer;" (click)="cerrarModal()">close</mat-icon>
        </div>

        <div>
            <mat-form-field fxFlex="100%">
                <mat-label>Nueva fecha de vigencia</mat-label>
                <input matInput [matDatepicker]="picker2" [formControl]="fechaVigencia">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>

        <div style="text-align: center;">
            <button (click)="cerrarModal()" class="btn-listado" style="background-color: gray;">Regresar</button>
            <button (click)="guardar()" class="btn-listado" style="background-color: green;">Guardar</button>
        </div>
    </div>
</div>