<div class="content">
    <div class="pt-1" fxLayout="column" fxLayoutAlign="stretch">
        <div class="section-header p-2" fxFlex="100" fxLayout="row" fxLayout.xs="column">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="80" fxFlex.xs="100">
                <p>Catálogo Producto</p>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="column" fxLayoutAlign="stretch">
        <div class="p-2">
            <form [formGroup]="formProducto" autocomplete="off">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>N° Producto</mat-label>
                            <input matInput formControlName="formNoProducto" [(ngModel)]="producto.idProducto">
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Producto</mat-label>
                            <input matInput formControlName="formNombre" [(ngModel)]="producto.nombre">
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Estatus</mat-label>
                            <mat-select formControlName="formEstatus" [(ngModel)]="producto.estatus">
                                <mat-option *ngFor="let e of estatus" [value]="e.id">
                                    {{e.estatus}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>Clave</mat-label>
                            <input matInput formControlName="formClave" [(ngModel)]="producto.clave">
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Embalaje</mat-label>
                            <mat-select formControlName="formEmbalaje" [(ngModel)]="producto.idEmbalaje">
                                <mat-option *ngFor="let em of embalajes" [value]="em.id">
                                    {{em.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <div style="text-align: center;">
                <button (click)="regresar()" class="btn-listado" style="background-color: gray;">Regresar</button>
                <button *ngIf="!isSistemaOrigen" (click)="nuevo()" class="btn-listado" style="background-color: #3c88d4;">Nuevo</button>
                <button *ngIf="!isSistemaOrigen" (click)="guardar()" class="btn-listado" style="background-color: green;">Guardar</button>
            </div>
        </div>
    </div>
</div>
