<div class="content">
    <div class="pt-1" fxLayout="column" fxLayoutAlign="stretch">
        <div class="section-header p-2" fxFlex="100" fxLayout="row" fxLayout.xs="column">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="80" fxFlex.xs="100">
                <p>Catálogo Tipo de Operaciones</p>
            </div>
        </div>
    </div>

    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-dark-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active pointer p-2 mr-2">Filtros</div>
            </div>
        </div>

        <div *ngIf="filtros" class="bordered-content">
            <div class="p-2">
                <div fxLayout="row" fxLayoutAlign="" class="mt-3 mb-3">
                    <div fxLayout="column" fxFlex="33%">
                        <mat-form-field class="mr-3">
                            <mat-label>Tipo de operación</mat-label>
                            <input matInput [(ngModel)]="filtro.nombre" />
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="33%">
                        <mat-form-field class="mr-3">
                            <mat-label>Clasificacion Tipo de operación</mat-label>
                            <mat-select [(ngModel)]="filtro.idClasificacionTipoOperacion">
                                <mat-option *ngFor="let c of clasificaciones" [value]="c.id">
                                    {{c.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="33%">
                        <mat-form-field class="mr-3">
                            <mat-label>Estatus</mat-label>
                            <mat-select [(ngModel)]="filtro.estatus">
                                <mat-option *ngFor="let e of estatus" [value]="e.id">
                                    {{e.estatus}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div style="text-align: center;">
                    <button class="btn-listado" style="background-color: green" (click)="consultarTiposOperacion()">Consultar</button>
                    <button class="btn-listado" style="background-color: red;" (click)="limpiar()">Limpiar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-dark-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active pointer p-2 mr-2">Detalle</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
                <div *ngIf="!isSistemaOrigen" class="border-solid border-transparent">
                    <button (click)="nuevo()" class="btn-listado acciones h-45">Nuevo</button>
                </div>
                <div class="border-solid border-transparent">
                    <button [matMenuTriggerFor]="menu" class="btn-listado acciones h-45">
                        Acciones
                        <mat-icon class="arrow-down" style="vertical-align: middle;">arrow_drop_down</mat-icon>
                    </button>
                </div>
                <div class="border-solid border-transparent">
                    <button class="btn-listado acciones h-45" (click)="filtros = !filtros;">Filtros</button>
                </div>

                <mat-menu #menu="matMenu" yPosition="above">
                    <button mat-menu-item>Exportar PDF</button>
                    <button mat-menu-item>Exportar Excel</button>
                </mat-menu>
            </div>
        </div>

        <div class="bordered-content">
            <div class="p-2">
                <div class="table-container">
                    <mat-table #table [dataSource]="dataSource" matSort class="mat-table mat-elevation-z8">
                        <ng-container matColumnDef="idTipoOperacion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Id Tipo operación</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let to">{{to.idTipoOperacion}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="tipoOperacion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Tipo de Operación</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let to">{{to.descTipoOperacion}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="descripcion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Descripción</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let to">{{to.nombre}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estatus">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Estatus</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let to">{{to.estatus == 'A'? 'Alta' : 'Baja'}}</mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editar(row)" class="table-row"></mat-row>
                    </mat-table>
                    <mat-paginator #paginator [pageSizeOptions]="[5, 25, 50, 75]" showFirstLastButtons [pageSize]="50"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
