﻿<div class="modalRechazar">
    <div class="p-2">
        <form [formGroup]="formRechazo">
            <div style="margin-bottom: 1%;">
                <h3 style="display: inline">Rechazar Cotización</h3>
                <mat-icon style="float: right; cursor: pointer;" (click)="cerrarModal()">close</mat-icon>
            </div>


            <div>
                <ng-container>
                    <ng-select fxFlex="100%" placeholder="Motivo de Rechazo" formControlName="formRechazo" (ngModelChange)="selectedRechazo()">
                        <ng-option *ngFor="let r of motivosRechazo" [value]="r.id">
                            {{r.descripcion}}
                        </ng-option>
                    </ng-select>
                </ng-container>
            </div>
            

            <div *ngIf="habilitaOtro">
                <mat-form-field fxFlex="100%">
                    <mat-label>Otro Rechazo</mat-label>
                    <input matInput formControlName="formOtro">
                </mat-form-field>
            </div>

        </form>

        <div style="text-align: center;">
            <button (click)="cerrarModal()" class="btn-listado" style="background-color: gray;">Regresar</button>
            <button (click)="guardar()" class="btn-listado" style="background-color: green;">Guardar</button>
        </div>
    </div>
</div>
