﻿<div class="content">
    <div class="pt-1" fxLayout="column" fxLayoutAlign="stretch">
        <div class="section-header p-2" fxFlex="100" fxLayout="row" fxLayout.xs="column">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="80" fxFlex.xs="100">
                <p>Tarifa UREA</p>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="column" fxLayoutAlign="stretch">
        <div class="p-2">
            <form [formGroup]="formTarifa" autocomplete="off">
                <mat-form-field class="mr-3" style="width: 49%;">
                    <mat-label>Nombre de la zona</mat-label>
                    <input matInput formControlName="formNombre" [(ngModel)]="tarifa.nombre">
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>Costo</mat-label>
                            <input matInput formControlName="formCosto" [(ngModel)]="tarifa.costo">
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="50%">

                        <mat-form-field class="mr-3">
                            <mat-label>Estatus</mat-label>
                            <mat-select formControlName="formEstatus" [(ngModel)]="tarifa.estatus">
                                <mat-option *ngFor="let es of estatus" [value]="es.id">
                                    {{es.estatus}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <div style="text-align: center;">
                <button (click)="regresar()" class="btn-listado" style="background-color: gray;">Regresar</button>
                <button (click)="nuevo()" class="btn-listado" style="background-color: #3c88d4;">Nuevo</button>
                <button (click)="guardar()" class="btn-listado" style="background-color: green;">Guardar</button>
            </div>
        </div>
    </div>
</div>
