<div class="content">
    <div class="pt-1" fxLayout="column" fxLayoutAlign="stretch">
        <div class="section-header p-2" fxFlex="100" fxLayout="row" fxLayout.xs="column">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="80" fxFlex.xs="100">
                <p>Catálogo de Rutas</p>
            </div>
        </div>
    </div>

    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-dark-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active pointer p-2 mr-2">Filtros</div>
            </div>
        </div>

        <div class="bordered-content">
            <div class="p-2">
                <div fxLayout="row" fxLayoutAlign="" class="mt-3 mb-3">
                    <div fxLayout="column" fxFlex="30%">
                        <ng-container>
                            <ng-select class="mr-3" [(ngModel)]="filtro.idPlazaOrigen" placeholder="Origen">
                                <ng-option *ngFor="let po of plazas" [value]="po.id">
                                    {{po.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>
                    </div>

                    <div fxLayout="column" fxFlex="30%">
                        <ng-container>
                            <ng-select class="mr-3" [(ngModel)]="filtro.idPlazaDestino" placeholder="Destino">
                                <ng-option *ngFor="let pd of plazas" [value]="pd.id">
                                    {{pd.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>
                    </div>

                    <div fxLayout="column" fxFlex="30%" style="padding-top: 13px;">
                        <mat-form-field class="mr-3">
                            <mat-label>Ruta</mat-label>
                            <input matInput [(ngModel)]="filtro.nombre" />
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="10%">
                        <mat-form-field class="mr-3" style="padding-top: 13px;">
                            <mat-label>Estatus</mat-label>
                            <mat-select [(ngModel)]="filtro.estatus">
                                <mat-option *ngFor="let e of estatus" [value]="e.id">
                                    {{e.estatus}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div style="text-align: center;">
                    <button class="btn-listado" style="background-color: green" (click)="consultarRutas()">Consultar</button>
                    <button class="btn-listado" style="background-color: red;" (click)="limpiar()">Limpiar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-dark-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active pointer p-2 mr-2">Detalle</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
                <div *ngIf="!isSistemaOrigen" class="border-solid border-transparent">
                    <button (click)="nuevo()" class="btn-listado acciones h-45">Nuevo</button>
                </div>
                <div class="border-solid border-transparent">
                    <button class="btn-listado acciones h-45">Filtros</button>
                </div>
                <div class="border-solid border-transparent">
                    <button [matMenuTriggerFor]="menu" class="btn-listado acciones h-45">
                        Acciones
                        <mat-icon class="arrow-down" style="vertical-align: middle;">arrow_drop_down</mat-icon>
                    </button>
                </div>

                <mat-menu #menu="matMenu" yPosition="above">
                    <button mat-menu-item>Exportar PDF</button>
                    <button mat-menu-item>Exportar Excel</button>
                </mat-menu>
            </div>
        </div>

        <div class="bordered-content">
            <div class="p-2">
                <div class="table-container">
                    <mat-table #table [dataSource]="dataSource" matSort class="mat-table mat-elevation-z8">
                        <ng-container matColumnDef="noRuta">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Número de ruta</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let r">{{r.idRuta}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="origen">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Origen</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let r">{{r.plazaOrigen}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="destino">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Destino</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let r">{{r.plazaDestino}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="ruta">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Ruta</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let r">{{r.nombre}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estatus">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Estatus</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let r">{{r.estatus == 'A'? 'Alta' : 'Baja'}}</mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editar(row)" class="table-row"></mat-row>
                    </mat-table>
                    <mat-paginator #paginator [pageSizeOptions]="[5, 25, 50, 75]" showFirstLastButtons [pageSize]="50"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
