<div class="content">
    <div class="pt-1" fxLayout="column" fxLayoutAlign="stretch">
        <div class="section-header p-2" fxFlex="100" fxLayout="row" fxLayout.xs="column">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="80" fxFlex.xs="100">
                <p>Catálogo Tipo de Operaciones</p>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="column" fxLayoutAlign="stretch">
        <div class="p-2">
            <form [formGroup]="formTipoOperacion" autocomplete="off">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>Id Tipo de Operación</mat-label>
                            <input matInput formControlName="formIdTipoOperacion" [(ngModel)]="tipoOperacion.idTipoOperacion">
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Descripción</mat-label>
                            <input matInput formControlName="formNombre" [(ngModel)]="tipoOperacion.nombre">
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="50%">
                        <mat-form-field class="mr-3">
                            <mat-label>Clasificacion Tipo Operación</mat-label>
                            <mat-select formControlName="formClasificacion" [(ngModel)]="tipoOperacion.idClasificacionTipoOperacion">
                                <mat-option *ngFor="let c of clasificaciones" [value]="c.id">
                                    {{c.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Estatus</mat-label>
                            <mat-select formControlName="formEstatus" [(ngModel)]="tipoOperacion.estatus">
                                <mat-option *ngFor="let e of estatus" [value]="e.id">
                                    {{e.estatus}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <div style="text-align: center;">
                <button (click)="regresar()" class="btn-listado" style="background-color: gray;">Regresar</button>
                <button *ngIf="!isSistemaOrigen" (click)="nuevo()" class="btn-listado" style="background-color: #3c88d4;">Nuevo</button>
                <button *ngIf="!isSistemaOrigen" (click)="guardar()" class="btn-listado" style="background-color: green;">Guardar</button>
            </div>
        </div>
    </div>
</div>
