<div class="content">
    <div class="pt-1" fxLayout="column" fxLayoutAlign="stretch">
        <div class="section-header p-2" fxFlex="100" fxLayout="row" fxLayout.xs="column">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="80" fxFlex.xs="100">
                <p>Catálogo Registro de Tipo de cambio</p>
            </div>
        </div>
    </div>

    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-dark-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active pointer p-2 mr-2">Filtros</div>
            </div>
        </div>

        <div *ngIf="filtros" class="bordered-content">
            <div class="p-2">
                <div fxLayout="row" fxLayoutAlign="" class="mt-3 mb-3">
                    <div fxLayout="column" fxFlex="33%">
                        <mat-form-field class="mr-3">
                            <mat-label>Del</mat-label>
                            <input matInput [matDatepicker]="picker1" [formControl]="controlFechaInicio" autocomplete="off" [(ngModel)]="filtro.fechaInicio">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="33%">
                        <mat-form-field class="mr-3">
                            <mat-label>Al</mat-label>
                            <input matInput [matDatepicker]="picker2" [formControl]="controlFechaFin" autocomplete="off" [(ngModel)]="filtro.fechaFin">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="33%">
                        <mat-form-field class="mr-3">
                            <mat-label>Moneda</mat-label>
                            <mat-select [(ngModel)]="filtro.idMoneda">
                                <mat-option *ngFor="let m of monedas" [value]="m.id">
                                    {{m.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div style="text-align: center;">
                    <button class="btn-listado" style="background-color: green" (click)="consultarTiposCambio()">Consultar</button>
                    <button class="btn-listado" style="background-color: red;" (click)="limpiar()">Limpiar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-3" fxLayout="column" fxLayoutAlign="stretch">
        <div class="bg-dark-blue" fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="start end">
                <div class="section-route section-route-active pointer p-2 mr-2">Detalle</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
                <div *ngIf="!isSistemaOrigen" class="border-solid border-transparent">
                    <button (click)="nuevo()" class="btn-listado acciones h-45">Nuevo</button>
                </div>

                <div class="border-solid border-transparent">
                    <button [matMenuTriggerFor]="menu" class="btn-listado acciones h-45">
                        Acciones
                        <mat-icon class="arrow-down" style="vertical-align: middle;">arrow_drop_down</mat-icon>
                    </button>
                </div>

                <div class="border-solid border-transparent">
                    <button (click)="filtros = !filtros" class="btn-listado acciones h-45">Filtros</button>
                </div>

                <mat-menu #menu="matMenu" yPosition="above">
                    <button mat-menu-item>Exportar PDF</button>
                    <button mat-menu-item>Exportar Excel</button>
                    <button mat-menu-item>Editar</button>
                </mat-menu>
            </div>
        </div>

        <div class="bordered-content">
            <div class="p-2">
                <div class="table-container">
                    <mat-table #table [dataSource]="dataSource" matSort class="mat-table mat-elevation-z8">
                        <ng-container matColumnDef="opciones">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Opciones</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let tc">
                                <mat-icon style="cursor: pointer; color: gray;">delete</mat-icon>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fecha">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Fecha</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let tc">{{tc.fecha | date: 'dd-MM-yyy'}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="moneda">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Moneda</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let tc">{{tc.descMoneda}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="leyenda">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Leyenda Moneda</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let tc">{{tc.leyenda}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="tipoCambio">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Tipo de cambio</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let tc">{{tc.tipoCambio}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fuente">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Fuente</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let tc">{{tc.descTipoFuente}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="modulo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span>Modulo</span>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let tc"></mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editar(row)" class="table-row"></mat-row>
                    </mat-table>
                    <mat-paginator #paginator [pageSizeOptions]="[5, 25, 50, 75]" showFirstLastButtons [pageSize]="50"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
