<div class="content">
    <div class="pt-1" fxLayout="column" fxLayoutAlign="stretch">
        <div class="section-header p-2" fxFlex="100" fxLayout="row" fxLayout.xs="column">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="80" fxFlex.xs="100">
                <p>Registro Personal</p>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="column" fxLayoutAlign="stretch">
        <div class="p-2">
            <form [formGroup]="formPersonal" autocomplete="off">
                <div fxLayout="row" fxLayoutAlign="">
                    <div fxLayout="column" fxFlex="50%">
                        <div style="height: 169.68px;">
                            &nbsp;
                        </div>

                        <mat-form-field class="mr-3" style="margin-top: 13px;">
                            <mat-label>N° Empleado</mat-label>
                            <input matInput formControlName="formNoEmpleado" [(ngModel)]="personal.idPersonal">
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="formNombre" [(ngModel)]="personal.nombre">
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Estatus</mat-label>
                            <mat-select formControlName="formEstatus" [(ngModel)]="personal.estatus">
                                <mat-option *ngFor="let e of estatus" [value]="e.id">
                                    {{e.estatus}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Fecha de Ingreso</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="formFecha" [(ngModel)]="personal.fechaIngreso">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="50%">
                        <ng-container>
                            <ng-select class="mr-3" formControlName="formArea" [(ngModel)]="personal.idArea" placeholder="Sucursal">
                                <ng-option *ngFor="let a of areas" [value]="a.id">
                                    {{a.descripcion}}
                                </ng-option>
                            </ng-select>
                        </ng-container>

                        <mat-form-field class="mr-3">
                            <mat-label>Teléfono</mat-label>
                            <input matInput formControlName="formTelefono" maxlength="10" [(ngModel)]="personal.telefono">
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Correo electrónico</mat-label>
                            <input matInput formControlName="formCorreo" [(ngModel)]="personal.correo">
                        </mat-form-field>

                        <mat-form-field class="mr-3">
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="formTipo" [(ngModel)]="personal.idPersonalTipo" (ngModelChange)="tipoSeleccionado()">
                                <mat-option *ngFor="let pt of personalTipos" [value]="pt.id">
                                    {{pt.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mr-3" [ngClass]="esAgente?'agente':'personal'">
                            <mat-label>Usuario</mat-label>
                            <input matInput formControlName="formUsuario" [(ngModel)]="personal.usuario">
                        </mat-form-field>

                        <mat-form-field class="mr-3" [ngClass]="esAgente?'agente':'personal'">
                            <mat-label>Contraseña</mat-label>
                            <input matInput formControlName="formPass" [(ngModel)]="personal.password">
                        </mat-form-field>
                    </div>
                </div>
            </form>

            <div style="text-align: center; margin-top: 2%;">
                <button (click)="regresar()" class="btn-listado" style="background-color: gray;">Regresar</button>
                <button (click)="nuevo()" class="btn-listado" style="background-color: #3c88d4;">Nuevo</button>
                <button (click)="guardar()" class="btn-listado" style="background-color: green;">Guardar</button>
            </div>
        </div>
    </div>
</div>