@import '~@angular/material/theming';
@include mat-core();

@import 'theme-reset';
.app{
    &.indigo-light{
        @import "skins/indigo-light";
        @include angular-material-theme($indigo-light-theme);
        @include theme-reset($indigo-light-theme);
    }
    &.teal-light{
        @import "skins/teal-light";
        @include angular-material-theme($teal-light-theme);
        @include theme-reset($teal-light-theme);
    }
    &.red-light{
        @import "skins/red-light";
        @include angular-material-theme($red-light-theme);
        @include theme-reset($red-light-theme);
    }
    &.gray-light{
        @import "skins/gray-light";
        @include angular-material-theme($gray-light-theme);
        @include theme-reset($gray-light-theme);
    }
    &.blue-dark{
        @import "skins/blue-dark";
        @include angular-material-theme($blue-dark-theme);
        @include theme-reset($blue-dark-theme);
    }
    &.green-dark{
        @import "skins/green-dark";
        @include angular-material-theme($green-dark-theme);
        @include theme-reset($green-dark-theme);
    }
    &.pink-dark{
        @import "skins/pink-dark";
        @include angular-material-theme($pink-dark-theme);
        @include theme-reset($pink-dark-theme);
    }
    &.gray-dark{
        @import "skins/gray-dark";
        @include angular-material-theme($gray-dark-theme);
        @include theme-reset($gray-dark-theme);
    }
}

.content {
	background-color: white;
	margin: 1rem;
	box-shadow: 1px 6px 10px 1px rgba(0,0,0,0.1);
}

.section-header {
	color:#47494a;
	font-size: 1.5rem;
}
.section-route {
	cursor: pointer;
	background-color: #ffffff;
    color: #336699;
	border-color: #336699;
    font-size: 18px !important;
    border-style: solid;
    border-width: 3px 3px 1px 3px;
}
.section-route-active {
	background-color: #336699;
	color: #ffffff;
}
.section-route:focus {
	outline: none;
}

.bg-dark-blue {
    background-color: #336699 !important;
}

.bg-light-blue {
    background-color: #0597d6 !important;
}

.bg-light-gray {
    background-color: lightgray !important;
}

.bordered-content {
	border: solid 4px #336699;
}

.btn-listado {
    padding: 2px;
    background-color: #336699;
    color: white;
    border: solid 2px white;
    height: 30px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
	display: inline-block;
	
    .acciones {
        width: 140px !important;
    }
}

.border-transparent {
    border-color: transparent;
}

.border-solid {
	border: solid #336699;
}