$main-font-family: 'Roboto', sans-serif;

$top-toolbar-height: 38px; 
$horizontal-menu-height: 64px; 
$footer-toolbar-height: 56px; 

$sidenav-width: 260px;
$compact-sidenav-width: 170px;
$mini-sidenav-width: 66px;