<mat-sidenav-container class="h-100">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
       <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6">
            <app-content-header 
                [icon]="'alt_route'" 
                [title]="'ZAM - Cotizador'" 
                [hideBreadcrumb]="true"
                [hasBgImage]="true" 
                [class]="'py-4'"></app-content-header>            
            <div class="p-3">
                <!--<a mat-button routerLink="/register" color="accent" class="w-100">Don't have an account? Sign up now!</a>-->
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail</mat-icon>
                    <input matInput placeholder="Usuario" formControlName="email">
                    <mat-error *ngIf="form.controls.email.errors?.required">Usuario Requerido</mat-error>
                    <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Usuario inválido</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
                    <input type="password" matInput placeholder="Contraseña" formControlName="password">
                    <mat-error *ngIf="form.controls.password.errors?.required">Contraseña Requerida</mat-error>
                    <mat-error *ngIf="form.controls.password.hasError('minlength')">Contraseña inválida</mat-error>
                </mat-form-field>
                <!--<mat-slide-toggle formControlName="rememberMe" class="my-2">Keep me signed in</mat-slide-toggle>-->
                <div *ngIf="error" style="color: red;">{{errMsj}}</div>
                <button mat-raised-button color="primary" class="mat-elevation-z6 w-100 mt-3" type="submit">Iniciar Sesión</button>
            </div>
        </form>
  </div>
</mat-sidenav-container>